<app-header #myChild></app-header>

<div class="my-account main-wrapper">
    <div class="container">
        <div class="invoice-card">
            <div class="mb-4 d-flex align-items-center justify-content-between">
                <a routerLink="/account" class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16">
                        <path fill="#76323f"
                            d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z">
                        </path>
                    </svg>
                    <span class="ml-2">Back to account</span>
                </a>
                <button nz-button nzType="primary" nzSize="large" (click)="convetToPDF()">
                    <div class="d-flex align-items-center">
                        <span class="mr-2" *ngIf="!isLoading">Download Invoice</span>
                        <i nz-icon [nzType]="'sync'" *ngIf="isLoading" [nzSpin]="true"></i>
                        <span *ngIf="!isLoading">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                <path fill="#ffffff"
                                    d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z">
                                </path>
                            </svg>
                        </span>
                    </div>
                </button>
            </div>
            <div #logo id="logo" class="text-center">
               <img [src]="logoImg" class="text-center" alt="goldenrosse" width="225"  >
            </div>
            <div id="content" #content>
                <div nz-row class="mb-4">
                    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                        </div>
                    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="name">
                        <address class="text-right mb-0 mr-2">
                            <span>{{settingData?.street}},</span><br>
                            <span>{{settingData?.city}}, {{settingData?.state}},</span><br>
                            <span>{{settingData?.mobile}}</span><br>
                        </address>
                    </div>
                </div>
                <div nz-row class="mb-4 flexrow">
                    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
                        <div class="text-muted mb-2">Billed To</div>
                        <address class="mb-0">
                            <span>{{address?.address}},</span><br>
                            <span>{{address?.city}}, {{address?.state}},</span><br>
                            <span>{{address?.pincode}}.</span><br>
                            <span>{{address?.mobile}}</span><br>
                        </address>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8" class="invoice">
                        <div class="text-muted mb-2">Invoice Number</div>
                        <p class="mb-0">
                            #{{orderDetils?.tx_id}}
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8" class="amount">
                        <div class="text-muted mb-2 mr-2">Amount Paid</div>
                        <p class="mb-0 total-amount--lg mr-2 tbold" >
                            {{orderDetils?.amount_paid}}&euro;
                        </p>
                    </div>
                </div>
                <div class="mtop">
                    <table class="table">
                        <thead class="tbackground">
                            <tr >
                                <th class="border-b-0 text-primary tbackground">Description</th>
                                <th class="text-right border-b-0 text-primary tbackground">Rate</th>
                                <th class="text-right border-b-0 text-primary tbackground">Qty</th>
                                <th class="text-right border-b-0 text-primary tbackground">Line Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of productDetail">
                                <td>{{data?.product_id?.name}}</td>
                                <td class="text-right">{{data?.available_price/ data?.quantity |  number:'1.2-2'}}&euro;</td>
                                <td class="text-right">{{data?.quantity}}</td>
                                <td class="text-right">{{data?.available_price}}&euro;</td>
                            </tr>
                            <tr>
                                <td class="text-muted b-0 text-right" colspan="3" *ngIf="orderDetils?.coupon_offer > 0">{{"CouponApplied"|translate}} ( {{orderDetils.coupon_used}} )</td>
                                <td class="b-0 text-right" *ngIf="orderDetils?.coupon_offer > 0">
                                    {{orderDetils?.coupon_offer |  number:'1.2-2'}}&euro;</td>
                            </tr>
                            <tr>
                                <td class="text-muted b-0 text-right" colspan="3">{{"DeliveryCharge"|translate}} </td>
                                <td class="b-0 text-right" *ngIf="orderDetils?.delivery_fee > 0">
                                    {{orderDetils?.delivery_fee |  number:'1.2-2'}}&euro;</td>
                                <td class="b-0 text-right" *ngIf="orderDetils?.delivery_fee == 0">FREE</td>
                            </tr>
                            
                            <!-- <tr>
                                <td class="text-muted b-0 text-right" colspan="3">Tax</td>
                                <td class="b-0 text-right">0</td>
                            </tr> -->
                            <tr class="total-amount--md">
                                <td class="text-right" colspan="3">
                                    <b>Amount Paid</b>
                                </td>
                                <td class="text-right f-w-500">{{orderDetils?.amount_paid}}&euro;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>