<!-- <div class="login-page">
    <div class="container">
        <div class="box">
            <img src="assets/style/css/images/banner-background/background.jpeg" alt="Picture by Autumn Studio" class="box__image">
            <form class="form form--login" [formGroup]="passwordForm" (ngSubmit)="Reset()">
                <h1 class="form__title">Reset Password?</h1>
                <div class="form__helper">
                    <input type="password" name="password" formControlName="password" id="new-user-password" placeholder="Password" class="form__input" />
                    <label class="form__label" for="new-user-password">Password</label>
                </div>
                <div class="form__helper">
                    <input type="password" name="password" formControlName="confirmPassword" id="confirm-password" Placeholder="Confirm password" class="form__input" />
                    <label class="form__label" for="confirm-password">Confirm password</label>
                </div>
                <button type="submit" class="form__button">Change Password</button>
            </form>
        </div>
    </div>
</div> -->
<div class="login-page">
    <div class="container">
        <div class="logo">
            <a href="index.html"><img src="./../../assets/style/css/images/banner-background/logo.png" alt="" /></a>
        </div>
        <div class="box">
            <img src="assets/style/css/images/banner-background/background.jpeg" alt="Picture by Autumn Studio"
                class="box__image">
            <form nz-form [formGroup]="passwordForm" class="form form--login auth-form" (ngSubmit)="Reset()">
                <h1 class="text-center mb-3">{{"ResPassword"|translate}}</h1>
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="combineTpl">
                        <nz-form-label>{{"Password"|translate}}</nz-form-label>
                        <input type="password" nz-input formControlName="password" placeholder="******" />
                        <ng-template #combineTpl let-control>
                            <ng-container *ngIf="control.hasError('pattern')">
                               {{"ResPasswordCond"|translate}}
                               </ng-container
                            >
                            <ng-container *ngIf="control.hasError('required')"
                                >  {{"EnterPassword"|translate}}
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="errorTpl">
                        <nz-form-label>{{"ConfirmPassword"|translate}}</nz-form-label>
                        <input type="password" nz-input formControlName="confirmPassword" placeholder="******" />
                        <ng-template #errorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{"EnterConfirm"|translate}}
                            </ng-container>
                            <ng-container *ngIf="control.hasError('confirm')">
                                {{"PasswordMatch"|translate}}
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button class="login-form-button login-form-margin" nzSize="large" [disabled]="passwordForm.invalid" [nzType]="'primary'"
                    nzBlock>{{"Submit"|translate}}</button>
            </form>
        </div>
    </div>
</div>