<app-header></app-header>
<div class="main-container col2-right-layout main-wrapper">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h3 class="h3 mt-0 mb-0">{{"AllNotify"|translate}}</h3>
            <button nz-button nzType="default" (click)="showModal()" *ngIf="unread_count>0">
                {{"ClearAll"|translate}}
            </button>
        </div>
        <nz-table #basicTable [nzData]="listOfData" [nzHideOnSinglePage]="true">
            <tbody>
                <tr *ngFor="let list of listOfData">
                    <td colspan="12">
                        <div class="d-flex">
                            <!-- <div class="notification-product-img">
                                <img src="../../../../assets/images/instagram/post.jpg" alt="" width="70" height="70s">
                            </div> -->
                            <div class="notification-product-description">
                                <!-- {{ Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ea dolores quas, sint
                                undenim ea dolores quas, sint undeLorem ipsum dolor sit amet consectetur adipisicing
                                elit. Enim ea dolores quas, sint unde.}} -->
                                <span class="h4"> {{list.title}} </span><br>
                                <span class="h4" *ngIf="list?.coupon_id?.couponcode">{{"CoupanCode"|translate}} :
                                    {{list?.coupon_id?.couponcode}}</span><br>
                                {{list.message}}
                                <div class="text-muted mt-2">
                                    <!-- 10 Oct, 2020 -->
                                    {{list.createdAt |date}}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<!-- Modal - Notification Delete (start) -->
<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzFooter]="null">
    <div class="notification-modal">
        <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="42" height="42">
                <path fill="#afafaf"
                    d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z">
                </path>
            </svg>
        </div>
        <h6 class="text-center">{{"ClearNotify"|translate}}</h6>
        <div class="d-flex align-items-center">
            <button nz-button nzType="default" nzSize="large" class="mr-1 w-50"
                (click)="handleCancel()">{{"Cancel"|translate}}</button>
            <button nz-button nzType="default" nzSize="large" (click)="handleOk()" nzDanger
                class="ml-1 w-50">{{"Ok"|translate}}</button>
        </div>
    </div>
</nz-modal>
<!-- Modal - Notification Delete (end) -->