<div class="landing-wrapper">
    <app-landing-header></app-landing-header>
</div>
<div class="main-container main-wrapper">
    <div class="container">
        <div class="title-box-default">
            <a href="#" class="prev-new-arrival"><i class="fa fa-arrow-circle-left"></i></a>
            <span class="title-tab">Condiciones de venta</span>
            <a href="#" class="next-new-arrival"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <div class="privacy-section mb-20">
            <h4>1. Titularidad del dominio <a href="www.goldenrosse.com">www.goldenrosse.com</a></h4>
            <p>En cumplimiento de la Ley 34/2002 de Servicios de la Sociedad de La Información y del Comercio
                Electrónico (LSSICE), te informamos que la titularidad del dominio de nuestra tienda virtual,
                <a href="www.goldenrosse.com">www.goldenrosse.com</a>, corresponde a Raul Garcia De La Rosa a
                continuación Goldenrossejoy, con NIF : 47554068G y dado de alta para la venta online el día 03/08/20,
                Para cualquier consulta, puede contactar con Goldenrosse en info@goldenrosse.com.
            </p>
            <h4>2. Objeto y ámbito de aplicación.</h4>
            <p>
                Las presentes Condiciones Generales de contratación y utilización, tienen como objeto regular la puesta
                a disposición de la información suministrada en la tienda online de goldenrosse.com, así las
                transacciones comerciales que surjan entre Goldenrosse y los usuarios del dominio <a
                    href="www.goldenrosse.com">www.goldenrosse.com</a>,
                Tanto la navegación por la tienda online como la adquisición de cualquiera de los productos ofertados en
                ella, suponen la aceptación como usuario, sin reservas de ninguna clase, de todas y cada una de las
                presentes condiciones generales de contratación y utilización. Goldenrosse podrá en todo momento y sin
                previo aviso, modificar las presentes condiciones generales de contratación y uso, así como las
                condiciones particulares que, en su caso, se incluyan, mediante la publicación de dichas modificaciones
                en la tienda con el fin de que puedan ser conocidas por los usuarios, y quedando constancia de la fecha
                de dichas modificaciones.
            </p>
            <h4>3. Información suministrada en el website.</h4>
            <p>Hacemos todo los esfuerzos para ofrecer la información contenida en el sitio web de forma veraz y sin
                errores tipográficos. En el caso de que en algún momento se produjera algún error de este tipo, ajeno en
                todo momento a la voluntad de <a href="www.goldenrosse.com">www.goldenrosse.com</a>, se procedería
                inmediatamente a su corrección. En el
                caso de fallos informáticos respecto a precios se comunicará al cliente y subsanado el mismo. Todas las
                informaciones contractuales presentes en <a href="www.goldenrosse.com">www.goldenrosse.com</a> se
                muestran en lengua española
                (castellano), y la comunicación con los clientes y usuarios, así como la formalización del contrato se
                realizará en dicho idioma.
            </p>
            <h4>4. Propiedad intelectual e industrial.</h4>
            <p>Todos los contenidos publicados en la tienda y especialmente los diseños, textos, gráficos, logos,
                iconos, botones, así como el software, los nombres comerciales, las marcas o dibujos industriales y
                cualquiera otros signos susceptibles de utilización industrial y comercial están sujetos a derechos de
                propiedad intelectual e industrial de Goldenrosse o de terceros titulares de los mismos que han
                autorizado debidamente su inclusión en el sitio web. En ningún caso se entenderá que se concede licencia
                alguna o se efectúa renuncia, transmisión, cesión total o parcial de dichos derechos ni se confiere
                ningún derecho ni expectativa de derecho, y en especial, de alteración, explotación, reproducción,
                distribución o comunicación pública sobre dichos contenidos sin la previa autorización expresa de
                Goldenrosse o de los titulares correspondientes. Queda expresamente prohibida la introducción de
                hiperenlaces con fines mercantiles en páginas web ajenas a Goldenrosse, que permitan el acceso a nuestro
                sitio web, sin consentimiento previo. En todo caso, la existencia de hiperenlaces en sitios web ajenos a
                nosotros, no implicará en ningún caso la existencia de relaciones comerciales o mercantiles con el
                titular de la página web donde se establezca el hiperenlace, ni la aceptación por parte de Goldenrosse
                de sus contenidos o servicios.
            </p>
            <h4>5. Responsabilidad de Goldenrosse</h4>
            <p>Los productos presentados en el sitio web son conformes a la legislación española. La responsabilidad de
                Goldenrosse no puede invocarse en el caso de productos no conformes a la legislación de los países a los
                que hayan podido ser enviados en función del pedido del cliente. Corresponde pues, a los clientes de
                fuera de España el verificar la posibilidad de importar o utilizar los productos que nos soliciten. El
                usuario asume toda la responsabilidad derivada del uso de nuestro sitio web, siendo el único responsable
                de todo efecto directo o indirecto que sobre el sitio web se derive, incluyendo, de forma enunciativa y
                no limitativa, todo resultado económico, técnico y/o jurídico adverso, así como la defraudación de las
                expectativas generadas por nuestro sitio web, obligándose el usuario a mantener indemne a Goldenrosse
                por cualesquiera reclamaciones derivadas, directa o indirectamente de tales hechos. Goldenrosse no se
                hace responsable de los perjuicios que se pudieran derivar de interferencias, omisiones, interrupciones,
                virus informáticos, averías y/o desconexiones en el funcionamiento operativo de este sistema electrónico
                o en los aparatos y equipos informáticos de los usuarios, motivadas por causas ajenas a Goldenrosse, que
                impidan o retrasen la prestación de los servicios o la navegación por la tienda, ni de los retrasos o
                bloqueos en el uso causados por deficiencias o sobrecargas de Internet o en otros sistemas electrónicos,
                ni de la imposibilidad de dar el servicio o permitir el acceso por causas no imputables a Goldenrosse,
                debidas al usuario, a terceros, o a supuestos de fuerza mayor. Goldenrosse no controla, con carácter
                general, la utilización que los usuarios hacen del sitio web. En particular Goldenrosse no garantiza
                bajo ningún extremo que los usuarios utilicen el sitio web de conformidad con la ley, las presentes
                Condiciones Generales, la moral y buenas costumbres generalmente aceptadas y el orden público, ni
                tampoco que lo hagan de forma diligente y prudente.
            </p>
            <h4>6. Obligaciones de clientes y usuarios.</h4>
            <p>
                Con carácter general el usuario se obliga al cumplimiento de las presentes condiciones generales, así
                como a cumplir las especiales advertencias o instrucciones de uso contenidas en las mismas o en el sitio
                web y obrar siempre conforme a la ley, a las buenas costumbres y a las exigencias de la buena fe,
                empleando la diligencia debida, y absteniéndose de utilizar el sitio web de cualquier forma que pueda
                impedir, dañar o deteriorar el normal funcionamiento del mismo, los bienes o derechos de Goldenrosse,
                sus proveedores, el resto de usuarios o en general de cualquier tercero. Goldenrosse no se
                responsabiliza de la veracidad y exactitud de los datos rellenados por el usuario y por tanto no puede
                constatar la edad de los mismos. Concretamente, y sin que ello implique restricción alguna al apartado
                anterior durante la utilización del sitio web <a href="www.goldenrosse.com">www.goldenrosse.com</a> el
                usuario se obliga a:
            </p>
            <p>1&#41; Facilitar información veraz sobre los datos solicitados en el formulario de registro de usuario o
                de
                realización del pedido, y a mantenerlos actualizados.
            </p>
            <p>2&#41; No introducir, almacenar o difundir en o desde el sitio web, cualquier información o material que
                fuera difamatorio, injurioso, obsceno, amenazador, xenófobo, incite a la violencia a la discriminación
                por razón de raza, sexo, ideología, religión o que de cualquier forma atente contra la moral, el orden
                público, los derechos fundamentales, las libertades públicas, el honor, la intimidad o la imagen de
                terceros y en general la normativa vigente.
            </p>
            <p>
                3&#41; No introducir, almacenar o difundir mediante la tienda ningún programa, datos, virus, código, o
                cualquier otro dispositivo electrónico o físico que sea susceptible de causar daños en el sitio web, en
                cualquiera de los servicios, o en cualquiera de los equipos, sistemas o redes de Goldenrosse, de
                cualquier otro usuario, de los proveedores de Goldenrosse o en general de cualquier tercero.
            </p>
            <p>
                4&#41; Guardar diligentemente el "nombre de usuario" y la "contraseña" que le sea facilitada por
                Goldenrosse, asumiendo la responsabilidad por los daños y perjuicios que pudieran derivarse de un uso
                indebido de los mismos.
            </p>
            <p>5&#41; No realizar actividades publicitarias o de explotación comercial a través del sitio web, y a no
                utilizar los contenidos y la información del mismo para remitir publicidad, o enviar mensajes con
                cualquier otro fin comercial, ni para recoger o almacenar datos personales de terceros.
            </p>
            <p>6&#41; No utilizar identidades falsas, ni suplantar la identidad de otros en la utilización del sitio web
                o
                en la utilización de cualquiera de los servicios del mismo, incluyendo la utilización en su caso de
                contraseñas o claves de acceso de terceros o de cualquier otra forma.
            </p>
            <p>7&#41; No destruir, alterar, utilizar para su uso, inutilizar o dañar los datos, informaciones, programas
                o
                documentos electrónicos de Goldenrosse, sus proveedores o terceros.
            </p>
            <p>8&#41; No introducir, almacenar o difundir mediante la tienda cualquier contenido que infrinja derechos
                de
                propiedad intelectual, industrial o secretos empresariales de terceros, ni en general ningún contenido
                del cual no ostentara, de conformidad con la ley, el derecho a ponerlo a disposición de tercero. El
                cliente se compromete a posibilitar la entrega del pedido solicitado facilitando una dirección de
                entrega en la que pueda ser entregado el pedido solicitado dentro del horario habitual de entrega de
                mercancías. En caso incumplimiento por parte del cliente de esta obligación Goldenrosse no tendrá
                ninguna responsabilidad sobre el retraso o imposibilidad de entrega del pedido solicitado por el
                cliente. 
            </p>
            <p>
                De la misma forma, y con respecto al uso de los productos comercializados por Goldenrosse, el usuario es
                el único responsable del uso de aquellos de forma responsable y conforme al destino para el que se
                comercializan. Debiendo extremar la precaución cuando el uso afecte a niños o menores de edad.
            </p>
            <h4>7. Privacidad y protección de datos personales.</h4>
            <p>A los efectos de lo dispuesto en la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de
                Carácter Personal, así como en el R.D. 1720/2007 de 21 de diciembre por el que se aprueba el reglamento
                que desarrolla la L.O. 15/1999, Goldenrosse te informa de la existencia de un fichero de datos de
                carácter personal creado por y bajo la responsabilidad de Goldenrosse con los datos obtenidos en el
                sitio web <a href="www.goldenrosse.com">www.goldenrosse.com</a>. La finalidad de dicho fichero es
                gestionar tu relación contractual con
                nosotros, así como la realización de actividades promocionales y publicitarias propias o de terceros
                mediante cualquier medio, incluyendo el envío de mensajes comerciales a través de SMS, email, y correo
                postal etc., que puedan ser de tu interés, a partir del estudio y segmentación los datos recabados
                durante la navegación por el sitio web de los datos proporcionados mediante la cumplimentación de
                cualquier formulario, así como los derivados de la relación comercial o entrega de los productos
                comprados. Si no deseas recibir publicidad, sólo tienes que entrar en tu cuenta y desactivar el envío de
                Newsletter e informaciones. En cumplimiento de lo dispuesto en la Ley Orgánica 15/1999 de 13 de
                Diciembre, los clientes y usuarios de <a href="www.goldenrosse.com">www.goldenrosse.com</a> pueden, en
                todo momento, ejercitar los
                derechos de acceso, rectificación, cancelación y oposición sobre sus datos personales comunicándolo por
                envío de un correo electrónico a la dirección info@goldenrosse.com, donde se indicará el nombre y
                apellidos, usuario e email con el que se dio de alta, y adjuntando en ambos casos fotocopia del DNI del
                usuario. En el caso que los datos suministrados estén asociados a una compra, la legislación española
                nos obliga a mantenerlos al menos durante seis años por lo que no se podrán borrar ni rectificar aunque
                el cliente así lo solicite. Goldenrosse se compromete en la utilización de los datos incluidos en el
                fichero, a respetar su confidencialidad y a utilizarlos de acuerdo con la finalidad del fichero, así
                como a dar cumplimiento a su obligación de guardarlos y adaptar todas las medidas para evitar la
                alteración, pérdida, tratamiento o acceso no autorizado, de acuerdo con lo establecimiento en el
                Reglamento de Medidas de Seguridad de los ficheros automatizados que contengan datos de carácter
                personal, aprobando por el Real Decreto 994/1999, de 11 de julio.
            </p>
            <h4>8. Cookies.</h4>
            <p>Te informamos igualmente que para mejorar tu experiencia de navegación, gestionar el contenido de tu
                cesta, ofrecerte nuestros consejos personalizados, e informarte online de nuestras ofertas para clientes
                o socios, nuestra página web utiliza dispositivos de implantación de cookies y almacenamiento de IP. La
                cookie es un fichero que depositamos en tu equipo, y cuyo único objetivo es simplificar tu navegación en
                <a href="www.goldenrosse.com">www.goldenrosse.com</a> (esta cookie no puede contener virus ni ser
                ejecutada, porque no es
                un fichero
                activo). La cookie sólo puede ser leída por Goldenrosse y por ti, y puedes borrarla si lo deseas,
                accediendo a la opciones de tu navegador. Consulta el menú de ayuda para más información.
            </p>
            <h4>9. Gastos de envío.</h4>
            <p>Los gastos de envío son gratuitos en pedidos superiores a 70€ (solo en península) y de 5€ en pedidos de
                menor importe.
            </p>
            <p>Los envíos a las Islas Baleares tiene un coste de 10 € y tienen un periodo de entrega de 48-72
                horas. Envío gratuito para pedidos superiores a 100 €. 
            </p>
            <p>Los envíos a Canarias, Ceuta y Melilla tienen un coste de 39 € para pedidos menores de 150 € y de 57 €
                para pedidos superiores a 150 €. Los pedidos a esta zona no están sujetos a las condiciones de envío
                gratuito.  
            </p>
            <p>
                Para envíos a la unión Europea a países como Francia los gastos de envío tienen un coste de 15€ y para
                Alemania, Bélgica, Holanda, Italia, Luxemburgo y Reino unido el coste es de 20€.
            </p>
            <p>Por el momento, no realizamos envíos a zonas no pertenecientes a la Unión Europea.
            </p>
            <h4>10. Realización del pedido</h4>
            <p>Para realizar un pedido es necesario conectarse a <a href="www.goldenrosse.com">www.goldenrosse.com</a>,
                y registrarse como usuario,
                cumplimentando el formulario electrónico que en cada momento aparezca en la tienda y siguiendo las
                instrucciones indicadas en el mismo. Tras el registro, y para proceder a la compra de productos, deberás
                añadir el producto que deseas adquirir a la cesta, según las indicaciones recogidas en pantalla,
                cumplimentando a estos efectos el formulario de pedido suministrado y validando el mismo. <b>Es
                    fundamental que los datos del formulario sean los correctos</b> , puesto que Goldenrosse reproducirá
                exactamente el escrito, sin modificar letras, mayúsculas, signos de puntuación, etc.
            </p>
            <p><b>En caso de que los datos de envío sean incorrectos, el coste de una nueva reexpedición del envío
                    correrá a cargo del cliente.
                </b></p>
            <p>Todas las especificaciones, y demás detalles que el comprador desee en el producto, deberán ser
                transmitidas en el momento de efectuar el pedido. En caso de que el cliente no especifique sus
                personalizaciones, Goldenrosse elegirá los detalles por defecto, sin que el cliente pueda rechazarlo.
                Goldenrosse no estará obligada a solicitar al cliente los datos que pudieran faltar en su pedido para la
                fabricación del producto. Sin embargo, Goldenrosse podrá, en los casos que pueda detectar algún error,
                contactar con el cliente al email que éste haya facilitado en el formulario para solicitar la aclaración
                del dato que pudiera faltar. En este supuesto, el plazo de entrega se verá suspendido, y se reanudará
                cuando el cliente responda la solicitud realizada por Goldenrosse. Si en el caso anterior, y habiendo
                transcurrido 60 días desde la solicitud de información adicional por parte de Goldenrosse, el comprador
                no envía respuesta alguna, el pedido se tendrá por cancelado, y el precio no será reembolsado.</p>
            <p>La validación del pedido por parte del cliente supone expresamente el conocimiento y aceptación de estas
                condiciones generales de contratación como parte de la celebración del contrato. Salvo prueba en
                contrario, los datos registrados por Goldenrosse constituyen la prueba del conjunto de transacciones
                realizadas entre Goldenrosse y sus clientes. Goldenrosse archivará el documento electrónico en que se
                formalice el contrato y éste será accesible. Una vez efectuada la compra él usuario recibirá una
                confirmación del pedido por e-mail incluyendo la factura de compra.
            </p>
            <h4>11. Derecho de Desistimiento y Devoluciones</h4>
            <p>Si tu joya no te enamora, nos la puedes devolver en los siguientes <b>14 días naturales</b> desde que la
                recibiste y te la cambiaremos por otra o te devolveremos el importe de la misma forma en que se realizó
                el pago, en este caso informamos que los gastos de envío corren a cargo del cliente. <b>No aceptamos
                    devoluciones de productos grabados o personalizados tales como: alianzas, anillos de compromiso,
                    colgantes personalizados, esclavas o medallas.</b>
            </p>
            <p>
                <b>En caso de cambio puede solicitar que nuestra agencia realice la recogida, en cuyo caso los gastos de
                    envío se abonarán a la recepción del nuevo pedido, si lo que solicita es una devolución, los gastos
                    de envío se restarán del reembolso del importe de la compra. La devolución del importe de la compra
                    se hará efectiva en un plazo de 5 a 7 días laborables.
                </b>
            </p>
            <p>
                Solo se aceptarán devoluciones previamente autorizadas por Goldenrosse. Para solicitar esta autorización
                el cliente comunicará a Goldenrosse dentro del plazo estipulado, a través del formulario de devolución,
                su deseo de ejercitar el derecho de desistimiento del contrato. El pedido debe incluir la <b>factura del
                    mismo</b> que podrá descargar desde su área de cliente una vez que esta sea aceptada.
            </p>
            <p>El importe de la compra será devuelto de la misma forma en que se realizó el pago siempre y cuando la
                joya se encuentre en perfectas condiciones y no haya sido usada.
            </p>
            <p>En cuanto al uso de la garantía del producto, Goldenrosse se reserva el derecho de estimar la misma según
                el uso y estado del producto y de no aceptar la devolución o de abonar una cantidad inferior en caso de
                que el artículo no llegue en perfectas condiciones.
            </p>
            <p>
                En caso de tratarse de un producto que no corresponde con el comprado, Goldenrosse se hará cargo de los
                gastos de envío y devolución y del envío del nuevo producto. En caso de tratarse de errores o
                inespecificaciones imputables al comprador en la realización del pedido, éste deberá hacer frente a
                todos los gastos de envío.
            </p>
            <h4>12. Desistimiento</h4>
            <p>Tienes derecho a desistir del presente contrato en un plazo de <b>14 días naturales</b> sin necesidad de
                justificación. El plazo de desistimiento expirará a los <b>14 días naturales </b>del día que tú o un
                tercero
                por ti indicado, distinto del transportista, adquirió la posesión material de los bienes.
            </p>
            <p>
                Para ejercer el derecho de desistimiento, deberás notificar a través del e-mail: <a
                    href="mailto:info@goldenrosse.com">info@goldenrosse.com</a> tu
                decisión de desistir del contrato. Podrás igualmente realizar una declaración inequívoca de tu decisión
                a través de una carta enviada por correo postal. Aunque su uso no es obligatorio. Para cumplir el plazo
                de desistimiento, basta con que la comunicación relativa al ejercicio por tu parte de este derecho sea
                enviada antes de que venza el plazo correspondiente.
            </p>
            <h4>13. Atención al cliente</h4>
            <p>Puede ponerse en contacto con el servicio de atención al cliente de Goldenrosse en el
                email <a href="mailto:info@goldenrosse.com">info@goldenrosse.com</a> o a través del número de
                teléfono 650859562 (horario de atención telefónica:
                10:00 - 14:00 y de 15:00 a 19:00)
            </p>
            <h4>14. Disponibilidad de los productos.</h4>
            <p>La selección de productos ofrecidos en <a href="www.goldenrosse.com">www.goldenrosse.com</a> es válida en
                tanto que los productos estén
                visibles en el website, con los límites de stock disponibles. En la ficha de cada producto se indica el
                plazo en el que podemos expedirlo. Si la mercancía se encuentra en stock, el envío se realiza en el
                siguiente día laborable y tiene un plazo de entrega de entre 24 y 48 horas. Si por el contrario no
                disponemos de stock, realizaremos una petición a proveedor en donde el plazo de entrega dependerá del
                mismo.
            </p>
            <h4>15. Modos y plazos de envío.</h4>
            <p>La selección de productos ofrecidos en <a href="www.goldenrosse.com">www.goldenrosse.com</a> es válida en
                tanto que los productos estén
                visibles en el sitio web, con los límites de stock disponibles. Si la mercancía se encuentra en stock,
                el envío se realiza en el siguiente día laborable y tiene un plazo de entrega de entre 24 y 48 horas. Si
                por el contrario no disponemos de stock, realizaremos una petición a proveedor, estimando un que
                dependerá del mismo y que se le comunicara previamente al usuario.
            </p>
            <p>
                Desafortunadamente Goldenrosse no realiza envíos a Canarias, Ceuta y Melilla pero estamos trabajando
                para poder realizarlos lo antes posible.
            </p>
            <h4>16. Pago</h4>
            <p>Goldenrosse te propone diversos medios de pago para que puedas elegir aquel que más te convenga o se
                adapte mejor a tus necesidades:
            </p>
            <p><b>Pago por Tarjeta de Crédito:</b> puedes utilizar Visa o MasterCard. Si realizas el pago con tarjeta
                VISA o Mastercard. En el caso de que el TPV informara de la denegación de la tarjeta, se cancelará
                automáticamente el pedido, informando online al cliente de la anulación. Para pagos realizados con
                tarjetas emitidas fuera de España, es necesario que el banco emisor esté acogido al Protocolo de
                Seguridad de Comercio Electrónico Seguro (CES). No se admitirán pagos con tarjetas que no cumplan este
                requisito.
            </p>
            <p><b>Pago a contra reembolso:</b> Puedes pagar tu compra cuando la recibas en tu domicilio. Este pago tiene
                un incremento del 3% sobre el valor de la compra en concepto de gastos de gestión, y el cual se verá
                repercutido en el importe total de la compra.
            </p>
            <p>
                <b>Pago a través de Paypal:</b> Puedes realizar el pago de tu compra a través de tu cuenta de Paypal.
            </p>
            <h4>17. Bonos y descuentos</h4>
            <p>Goldenrosse se reserva el derecho de modificar, cambiar o eliminar los bonos descuento. Así mismo, dichos
                bonos tienen un plazo de caducidad de un mes y solo será compatible con compras online. Los bonos
                descuentos obtenidos por compras en tiendas físicas solo se podrán utilizar en las misma y no serán
                compatibles con compras online.
            </p>
            <p>En caso de apreciar un uso indebido de estos descuentos, Goldenrosse podrá eliminar los descuentos mal
                utilizados o desestimar la compra si corresponde.
            </p>
            <h4>18. Garantía de Bienes de Consumo</h4>
            <p>De acuerdo con la Ley General para la Defensa de los Consumidores y Usuarios y otras leyes
                complementarias, todas las joyas de Goldenrosse tienen una garantía de dos años desde su entrega y
                procederemos, según corresponda, a la reparación, sustitución, rebaja del precio o devolución del
                importe del producto. Si tiene que realizar una reclamación de garantía le rogamos que se ponga en
                contacto con nosotros a través del teléfono <b>650859562</b> o por email a <a
                    href="info@goldenrosse.com">info@goldenrosse.com</a> <b>Esta garantía
                    no cubre posibles roturas o desgastes provocados por un mal uso del producto.</b> El consumidor y
                usuario deberá informar al vendedor de la falta de conformidad en el plazo de dos meses desde que tuvo
                conocimiento de ella.
            </p>
            <h4>19. Legislación aplicable. Sumisión a fueros.</h4>
            <p>Las compraventas realizadas en <a href="www.goldenrosse.com">www.goldenrosse.com</a> se someten a la
                legislación española. En el supuesto de que surja cualquier conflicto o discrepancia en la
                interpretación o aplicación de las presentes condiciones contractuales, los Juzgados y Tribunales que,
                en su caso, conocerán del asunto, serán los que disponga la normativa legal aplicable en materia de
                jurisdicción competente, en la que se atiende, tratándose de consumidores finales, al lugar del
                cumplimiento de la obligación o al del domicilio de la parte compradora.
            </p>
        </div>
    </div>
</div>
<app-landing-footer></app-landing-footer>