<div class="landing-wrapper">
    <app-landing-header></app-landing-header>
</div>
<div class="main-container main-wrapper">
    <div class="container">
        <div class="title-box-default">
            <a href="#" class="prev-new-arrival"><i class="fa fa-arrow-circle-left"></i></a>
            <span class="title-tab">INFORMACIÓN SOBRE PROTECCIÓN DE DATOS</span>
            <a href="#" class="next-new-arrival"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <div class="privacy-section mb-20">
            <h4>RESPONSABLE Y FINALIDADES DEL TRATAMIENTO</h4>
            <p>En aplicación del Reglamento Europeo de Protección de Datos (RGPD) 2016/679  ponemos en su conocimiento
                que los datos personales que nos aporta, serán tratados por Raul Garcia De La Rosa con NIF 47554068G
                como Responsable del Tratamiento, con las siguientes finalidades:
            </p>
            <p>- Prestación de los servicios solicitados.</p>
            <p>- Realizar la facturación del mismo.</p>
            <h4>DESTINATARIOS DE LOS DATOS</h4>
            <p>Así mismo le informamos que sus datos podrán ser cedidos a entidades bancarias, para proceder al cobro de
                los recibos, así como a la Agencia Tributaria y otras Administraciones Públicas competentes, para el
                cumplimiento de obligaciones legales.
            </p>
            <h4>LEGITIMACIÓN Y PLAZOS DE CONSERVACIÓN</h4>
            <p>
                En virtud del artículo 6 del RGPD los datos serán tratados con el fin lícito de llevar a cabo la
                prestación establecida y en su consentimiento en relación con la realización de actividades comerciales
                y/o publicitarias. Los datos proporcionados se conservarán mientras se mantenga la relación comercial o
                durante los años necesarios para cumplir con las obligaciones legales.
            </p>
            <h4>DERECHOS DEL INTERESADO</h4>
            <p>Podrá ejercitar en todo momento los derechos de acceso, rectificación, cancelación, oposición, olvido y
                portabilidad, así como revocar los consentimientos prestados en su caso, mediante la remisión de una
                comunicación a través del email: <a href="mailto:info@goldenrosse.com">info@goldenrosse.com</a>
            </p>
            <p>Igualmente puede reclamar ante la Agencia Española de Protección de Datos, especialmente cuando no haya
                obtenido satisfacción en el ejercicio de sus derechos.
            </p>
        </div>
    </div>
</div>
<app-landing-footer></app-landing-footer>