<div class="landing-wrapper">
    <app-landing-header></app-landing-header>
</div>
<div class="main-container main-wrapper">
    <div class="container">
        <div class="title-box-default">
            <a href="#" class="prev-new-arrival"><i class="fa fa-arrow-circle-left"></i></a>
            <span class="title-tab">Condiciones de devolución</span>
            <a href="#" class="next-new-arrival"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <div class="privacy-section mb-20">
            <p>Si tu joya no te enamora, nos la puedes devolver en los siguientes <strong>14 días
                    naturales</strong> desde que la recibiste y te la cambiaremos por otra o te devolveremos el importe
                de la misma forma en que se realizó el pago, en este caso informamos que los gastos de envío corren a
                cargo del cliente. <strong>No aceptamos devoluciones de productos grabados o personalizados tales como:
                    alianzas, anillos de compromiso, colgantes personalizados, esclavas o medallas.</strong>
            </p>
            <p>
                <strong>
                    En caso de cambio puede solicitar que nuestra agencia realice la recogida, en cuyo caso los gastos
                    de envío se abonarán a la recepción del nuevo pedido, si lo que solicita es una devolución, los
                    gastos de envío se restarán del reembolso del importe de la compra. La devolución del importe de la
                    compra se hará efectiva en un plazo de 5 a 7 días laborables.
                </strong>
            </p>
            <p>Solo se aceptarán devoluciones previamente autorizadas por Goldenrosse. Para solicitar esta autorización
                el cliente comunicará a Goldenrosse dentro del plazo estipulado, a través del formulario de devolución,
                su deseo de ejercitar el derecho de desistimiento del contrato. El pedido debe incluir la 
                <strong>factura del mismo</strong> que podrá descargar desde su área de cliente una vez que esta sea
                aceptada.
            </p>
            <p>El importe de la compra será devuelto de la misma forma en que se realizó el pago siempre y cuando la
                joya se encuentre en perfectas condiciones y no haya sido usada.
            </p>
            <p>En cuanto al uso de la garantía del producto, Goldenrosse se reserva el derecho de estimar la misma según
                el uso y estado del producto y de no aceptar la devolución o de abonar una cantidad inferior en caso de
                que el artículo no llegue en perfectas condiciones.
            </p>
            <p>
                En caso de tratarse de un producto que no corresponde con el comprado, Goldenrosse se hará cargo de los
                gastos de envío y devolución y del envío del nuevo producto. En caso de tratarse de errores o
                inespecificaciones imputables al comprador en la realización del pedido, éste deberá hacer frente a
                todos los gastos de envío.
            </p>
        </div>
    </div>
</div>
<app-landing-footer></app-landing-footer>