<div class="login-page">
    <div class="container">
        <div class="logo">
            <a href="index.html"><img src="./../../assets/style/css/images/banner-background/logo.png" alt="" /></a>
        </div>
        <div class="box">
            <img src="assets/style/css/images/banner-background/background.jpeg" alt="Picture by Autumn Studio"
                class="box__image">
            <form nz-form [formGroup]="signUpForm" class="form form--login auth-form" (ngSubmit)="SignUp()">
                <h1 class="text-center mb-3">{{"SignUp"|translate}}</h1>
                <div>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="nameErrorTpl">
                        <nz-form-label nzFor="name">{{"UserName"|translate}}</nz-form-label>
                           
                        <input type="text" nzSize="large" nz-input formControlName="user_name" 
                            />
                            <ng-template #nameErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
                                    {{"UserNamePattern"|translate}}
                                </ng-container>
                                <ng-container *ngIf="control.hasError('required')">
                                    {{"EnterName"|translate}}
                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                   {{"UserNameValid"|translate}}
                                </ng-container>
                            </ng-template>
                    </nz-form-control>
                </nz-form-item>
                   
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="emailErrorTpl">
                            <nz-form-label nzFor="email">{{"EmailId"|translate}}</nz-form-label>
                            <input type="email" name="email" id="email" nz-input formControlName="email" />
                            <ng-template #emailErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('email')">
                                    {{"EmailValid"|translate}}
                                </ng-container>
                                <ng-container *ngIf="control.hasError('required')">
                                    {{"EnterEmail"|translate}}
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="mobileErrorTpl">
                            <nz-form-label nzFor="mobile">{{"Mobile"|translate}}</nz-form-label>

                            <input type="tel" name="mobile" id="mobile" nz-input formControlName="mobile" />
                            <ng-template #mobileErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('pattern')">
                                     {{"MobileValid"|translate}}
                                </ng-container>
                                <ng-container *ngIf="control.hasError('required')">
                                   {{"EnterMobile"|translate}}
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="passwordErrorTpl">
                            <nz-form-label nzFor="password">{{"Password"|translate}}</nz-form-label>

                            <nz-input-group [nzSuffix]="suffixTemplate">
                                <input [type]="passwordVisible ? 'text' : 'password'" name="password" id="password"
                                    formControlName="password" nz-input [(ngModel)]="password" />
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <!-- <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                                    (click)="passwordVisible = !passwordVisible"></i> -->
                            </ng-template>
                            <ng-template #passwordErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    {{"PasswordPattern"|translate}}
                                </ng-container>
                                <ng-container *ngIf="control.hasError('required')">
                                    {{"EnterPassword"|translate}}
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="cpasswordErrorTpl">
                            <nz-form-label nzFor="confirmpassword">{{"ConfirmPassword"|translate}}</nz-form-label>

                            <nz-input-group [nzSuffix]="confirmPassword">
                                <input [type]="
                                        confirmpasswordVisible ? 'text' : 'password'
                                    " name="password" id="confirmpassword" formControlName="confirmPassword" nz-input
                                    [(ngModel)]="confirmpassword" />
                            </nz-input-group>
                            <ng-template #confirmPassword>
                                <!-- <i nz-icon [nzType]="
                                        confirmpasswordVisible ? 'eye' : 'eye-invisible'
                                    " (click)="
                                        confirmpasswordVisible = !confirmpasswordVisible
                                    "></i> -->
                            </ng-template>
                            <ng-template #cpasswordErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('confirm')">
                                    {{"PasswordMatch"|translate}}
                                </ng-container>
                                <ng-container *ngIf="control.hasError('required')">
                                    {{"EnterConfirm"|translate}}
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <button nz-button class="login-form-button login-form-margin" [disabled]="signUpForm.invalid"
                        nzSize="large" [nzType]="'primary'" nzBlock>{{"SignUp"|translate}}</button>
                    <div class="mt-3">
                        {{"AlreadyAccount"|translate}}&nbsp;<a routerLink="/auth/login">{{"Login"|translate}} </a>
                    </div>
                    <div class="mt-1">
                        {{"DidnotReceive"|translate}}&nbsp;<a routerLink="/auth/resend">{{"ResendVerify"|translate}}</a>
                    </div>
                </div>
                <!-- <div class="email-confirm">
                    <h6>Congratulations! We have send confirmation link to <strong class="text-primary">
                            ruban+2@gmail.com
                        </strong>
                        activate your account.</h6>
                    <div class="mt-1">
                        Didn't receive verification?&nbsp;<a routerLink="/auth/resend">Resend Verification</a>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</div>