<div class="landing-wrapper" [style.backgroundImage]="'url('+ landImg +')'">
    <app-landing-header></app-landing-header>
    <div class="container">
        <div class="banner-simple-text">
            <h2>{{"TheBiggest"|translate}}</h2>
            <h3>{{"SaleDay"|translate}}</h3>
            <div class="text-special">
                <strong>{{settingData?.common_discount}}</strong>
                <span>%<br />{{"OFF"|translate}}</span>
                <label>{{"SaveTo"|translate}}</label>
            </div>
            <a routerLink="/grid/type/WOMEN" nz-button nzSize="large" class="border-0">{{"ShopWomen"|translate}}</a>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="title-box-default text-center">
                <span class="title-tab">{{"ShopBy"|translate}} {{"Category"|translate}}</span>
            </div>
        </div>
        <div class="banner-box-adv">
            <div class="row m-0 d-flex flex-wrap">
                <div class="col-md-6 col-sm-6 col-xs-12 p-0" *ngFor="let type of typeList">
                    <div class="inner-box-banner-adv odd">
                        <a class="banner-adv-thumb-link"><img [src]="url+type.file[0].path" alt="" /></a>
                        <div class="text-adv-intro">
                            <h2>{{(type.name | titlecase) | translate}}</h2>
                        </div>
                        <div class="box-search-adv"></div>
                        <a routerLink="/grid/type/{{type.name}}" class="box-search-adv-search"><i
                                class="fa fa-search"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Content Top -->
    <div class="new-arrival-product" id="newarrivals">
        <div class="container">
            <div class="row">
                <div class="title-box-default">
                    <span class="title-tab">{{"NewArraival"|translate}}</span>
                </div>
            </div>
            <!-- End Title Slider -->
            <div class="row">
                <div class="content-product-slider" *ngIf="isloggedin == 'true'">
                    <div class="wrap-item">
                        <div class="item">
                            <div class="row m-0 flex-row">
                                <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let list of listOfData">
                                    <div class="product-wrapper">
                                        <div class="item-product cursor-pointer" routerLink="/product/{{list._id}}">
                                            <div class="item-thumb-product">
                                                <img [src]="url+list.file[0].path" *ngIf="list.file.length > 0" alt=""
                                                    class="product-thumb-front" />
                                                <img [src]="url+list.file[0].path" *ngIf="list.file.length > 0" alt=""
                                                    class="product-thumb-behind" />
                                                <div class="info-product-cart">
                                                    <div class="inner-info-product-cart">
                                                        <ul>
                                                            <li>
                                                                <a routerLink="/product/{{list._id}}"
                                                                    class="link-compare">
                                                                    <i class="fa fa-external-link-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <span class="status-product-new">{{"New"|translate}}</span>
                                            </div>
                                        </div>
                                        <div class="item-info-product">
                                            <h3><a>{{list.name}}</a></h3>
                                            <div class="info-product-price">
                                                <span>{{list.available_price[0]}}€</span>
                                                <del>{{list.price[0]}}€</del>
                                                <div class="wrap-new-sale" *ngIf="list.offer_percentage > 0">
                                                    <div class="sale-item">
                                                        {{list.offer_percentage}}%
                                                    </div>
                                                    <div class="new-item">{{"off"|translate}}</div>
                                                </div>
                                            </div>
                                            <div class="product-rating-star d-block">
                                                <nz-rate [ngModel]="list.ratings" nzAllowHalf nzDisabled>
                                                </nz-rate>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-product-slider" *ngIf="isloggedin != 'true'">
                    <div class="wrap-item">
                        <div class="item">
                            <div class="row m-0 flex-row">
                                <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let list of listOfData">
                                    <div class="product-wrapper">
                                        <div class="item-product" routerLink="/productview/{{list._id}}">
                                            <div class="item-thumb-product">
                                                <img [src]="url+list.file[0].path" alt="" class="product-thumb-front" />
                                                <img [src]="url+list.file[0].path" alt=""
                                                    class="product-thumb-behind" />
                                                <span class="status-product-new">{{"New"|translate}}</span>
                                            </div>
                                        </div>
                                        <div class="item-info-product">
                                            <h3><a>{{list.name}}</a></h3>
                                            <div class="info-product-price display-flex">
                                                <span>{{list.available_price[0]}}€</span>
                                                <del *ngIf="list.offer_percentage">{{list.price[0]}}€</del>
                                                <div class="wrap-new-sale ml-10" *ngIf="list.offer_percentage > 0">
                                                    <div class="sale-item">
                                                        {{list.offer_percentage}}%
                                                    </div>
                                                    <div class="new-item">{{"off"|translate}}</div>
                                                </div>
                                            </div>
                                            <div class="product-rating-star">
                                                <nz-rate [ngModel]="list.ratings" nzAllowHalf nzDisabled>
                                                </nz-rate>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mission-section">
        <div class="row">
            <div class="title-box-default">
                <a href="#" class="prev-new-arrival"><i class="fa fa-arrow-circle-left"></i></a>
                <span class="title-tab">{{"OurMission"|translate}}</span>
                <a href="#" class="next-new-arrival"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="row who display-flex">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="abt-left">
                    <img src="assets/style/css/images/about-us/our mission.png">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="abt-right">
                    <h4 class="title-tab">{{"OurMission"|translate}}</h4>
                    <p class="para-tab just">{{"OurMissionDesc"|translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="choose-us custom-services mission-section">
        <div class="container">
            <div class="row goals display-flex">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="abt-right">
                        <h4 class="title-tab">{{"InstaFeed"|translate}}</h4>
                        <p class="para-tab just">{{"InstaDesc"|translate}}</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div nz-row [nzGutter]="8" class="instagram-post-list">
                        <div nz-col nzXs="8" nzSm="8" nzMd="6" nzLg="6" nzXl="6">
                            <img src="assets/images/instagram/post.jpg" alt="post" draggable="false"
                                class="post-list--img" width="132" height="132">
                        </div>
                        <div nz-col nzXs="8" nzSm="8" nzMd="6" nzLg="6" nzXl="6">
                            <img src="assets/style/css/images/about-us/our mission.png" alt="post" draggable="false"
                                class="post-list--img" width="132" height="132">
                        </div>
                        <div nz-col nzXs="8" nzSm="8" nzMd="6" nzLg="6" nzXl="6">
                            <img src="assets/style/css/images/about-us/about_img.jpg" alt="post" draggable="false"
                                class="post-list--img" width="132" height="132">
                        </div>
                        <div nz-col nzXs="8" nzSm="8" nzMd="6" nzLg="6" nzXl="6">
                            <img src="assets/style/css/images/about-us/our-goal.png" alt="post" draggable="false"
                                class="post-list--img" width="132" height="132">
                        </div>
                        <div nz-col nzXs="8" nzSm="8" nzMd="6" nzLg="6" nzXl="6">
                            <img src="assets/style/css/images/about-us/why-choose-us.png" alt="post" draggable="false"
                                class="post-list--img" width="132" height="132">
                        </div>
                        <div nz-col nzXs="8" nzSm="8" nzMd="6" nzLg="6" nzXl="6">
                            <img src="assets/style/css/images/banner/featered-look.png" alt="post" draggable="false"
                                class="post-list--img" width="132" height="132">
                        </div>
                        <div nz-col nzXs="8" nzSm="8" nzMd="6" nzLg="6" nzXl="6">
                            <img src="assets/style/css/images/banner/ad_04.png" alt="post" draggable="false"
                                class="post-list--img" width="132" height="132">
                        </div>
                        <div nz-col nzXs="8" nzSm="8" nzMd="6" nzLg="6" nzXl="6">
                            <img src="assets/style/css/images/banner/ad_03.png" alt="post" draggable="false"
                                class="post-list--img" width="132" height="132">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="custom-services pb-10">
        <div class="container">
            <div class="row">
                <div class="title-box-default">
                    <h2><span class="title-tab">{{"CustomServices"|translate}}</span></h2>
                </div>
            </div>
            <div class="row" id="custom_service">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="item-service-box about-content">
                        <a href="#" class="item-service-link"><img src="assets/style/css/images/home_11/diamond.png"
                                alt="" /></a>
                        <h3>{{"OldHands"|translate}}</h3>
                        <p>{{"OldHandDesc"|translate}} </p>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="item-service-box about-content">
                        <a href="#" class="item-service-link"><img src="assets/style/css/images/home_11/location.png"
                                alt="" /></a>
                        <h3>{{"DiverseLocation"|translate}}</h3>
                        <p>{{"DiverseLocationDesc"|translate}}</p>
                    </div>
                </div> -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="item-service-box about-content">
                        <a href="#" class="item-service-link"><img src="assets/style/css/images/home_11/icon_pen.png"
                                alt="" /></a>
                        <h3>{{"CovinentPlatform"|translate}}</h3>
                        <p>{{"ConvinentPlatformDesc"|translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-landing-footer></app-landing-footer>