<app-header #myChild></app-header>

<div class="my-account main-wrapper">
    <div class="container">
        <div nz-row [nzGutter]="32">
            <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
                <ul class="tabs">
                    <h5><i class="fa fa-shopping-cart"></i>{{"MyOrder"|translate}}</h5>
                    <li class="active" rel="tab1">{{"Orders"|translate}}</li>
                    <h5><i class="fa fa-shopping-cart"></i>{{"MyAccount"|translate}}</h5>
                    <li rel="tab2">{{"MyProfile"|translate}}</li>
                    <li rel="tab3">{{"Address"|translate}}</li>
                    <li rel="tab4">{{"SaveCards"|translate}}</li>
                    <li rel="tab6">{{"ChangePassword"|translate}}</li>
                    <h5><i class="fa fa-shopping-cart"></i>{{"MyCredits"|translate}}</h5>
                    <li rel="tab5">{{"MyCoupons"|translate}} </li>
                </ul>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16">
                <div class="tab_container">
                    <h3 class="d_active tab_drawer_heading" rel="tab1">{{"Orders"|translate}}</h3>
                    <div id="tab1" class="tab_content">
                        <div class="jumbotron" id="Menu1">
                            <h3 class="b-b">{{"Orders"|translate}}</h3>
                            <div class="jumbotron-table">
                                <nz-table #basicTable [nzData]="orderList">
                                    <thead>
                                        <tr>
                                            <th>{{"Order"|translate}}</th>
                                            <th>{{"Date"|translate}}</th>
                                            <th>{{"Address"|translate}}</th>
                                            <th>{{"Status"|translate}}</th>
                                            <th>{{"Total"|translate}}</th>
                                            <th>{{"Action"|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of basicTable.data">
                                            <td>{{ data.tx_id }}</td>
                                            <td>{{ data.createdAt | date:'medium' }}</td>
                                            <td>
                                                <div>{{data.address.address}}</div>
                                                <div>{{data.address.city}}</div>
                                            </td>
                                            <td>{{ data.order_status }}</td>
                                            <td>{{ data.amount_paid }}€</td>
                                            <td>
                                                <i nz-icon nzType="eye" nzTheme="outline" nz-tooltip
                                                    nzTooltipTitle="View Order"
                                                    routerLink="/orderview/{{data._id}}"></i>
                                                <nz-divider nzType="vertical"></nz-divider>
                                                <i nz-icon nzType="download" nzTheme="outline" nz-tooltip
                                                    nzTooltipTitle="Dowload Invoice"
                                                    routerLink="/invoice-view/{{data._id}}"></i>
                                                <!-- <button nz-button nzType="primary"
                                                    routerLink="/orderview/{{data._id}}">Invoice</button> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </div>
                    <!-- #tab1 -->
                    <h3 class="tab_drawer_heading" rel="tab2">{{"ProfileDetail"|translate}}</h3>
                    <div id="tab2" class="tab_content common-tab">
                        <h3 class="b-b">{{"ProfileDetail"|translate}}</h3>
                        <div class="pl-3">
                            <table>
                                <tbody>
                                    <tr>
                                        <td data-label="Input">{{"Mobile"|translate}}</td>
                                        <td data-label="Output">{{mobile}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row" data-label="Input">{{"UserName"|translate}}</td>
                                        <td data-label="Output">{{fullname}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row" data-label="Input">{{"EmailId"|translate}} </td>
                                        <td data-label="Output">{{email}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row" data-label="Input">{{"Gender"|translate}}</td>
                                        <td data-label="Output">{{gender}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row" data-label="Input">{{"DOB"|translate}}</td>
                                        <td data-label="Output">{{dob | date}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row" data-label="Input">{{"Location"|translate}}</td>
                                        <td data-label="Output">{{location}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row" data-label="Input">{{"Nickname"|translate}}</td>
                                        <td data-label="Output">{{nickname}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button nz-button nzType="primary" type="submit" class="form__button click-edit"
                                (click)="editProfile()">{{"EditProfile"|translate}}</button>
                        </div>
                    </div>
                    <!-- #tab2 -->
                    <h3 class="tab_drawer_heading" rel="tab3">{{"SavedAddress"|translate}}</h3>
                    <div id="tab3" class="tab_content common-tab">
                        <div class="common-flex display-flex b-b flex-wrap">
                            <h3 class="mg-b">{{"SavedAddress"|translate}}</h3>
                            <div class="tab-address" (click)="addshowModal()" style="cursor: pointer;">
                                + {{"AddNewAdd"|translate}}
                            </div>
                        </div>
                        <div class=" add-address">
                            <h5>{{"DefaultAdd"|translate}}</h5>
                            <div class="hide-default" *ngFor="let address of addressList">
                                <div class="hide-default-name display-flex" style="cursor: pointer;">
                                    <h5>{{address.user_name}}</h5>
                                    <nz-tag [nzColor]="'#8f8f8f'">{{address.address_type}}</nz-tag>
                                </div>
                                <p style="cursor: pointer;">{{address.address}} </p>
                                <p style="cursor: pointer;">{{"Mobile"|translate}}: <span>{{address.mobile}}</span></p>
                                <div class="hide-button display-flex">
                                    <button nz-button nzType="primary" type="submit" class="form__button click-popup"
                                        (click)="editshowModal(address,address._id)">{{"Edit"|translate}}</button>
                                    <button nz-button nzType="primary" type="submit" class="form__button" nz-popconfirm
                                        nzPopconfirmTitle="Are you sure remove this address?"
                                        nzPopconfirmPlacement="bottom"
                                        (nzOnConfirm)="deleteAddress(address._id)">{{"Remove"|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- address-popup -->
                    <!-- #tab3 -->
                    <h3 class="tab_drawer_heading" rel="tab4">{{"SavedCards"|translate}}</h3>
                    <div id="tab4" class="tab_content common-tab">
                        <div class="common-flex display-flex b-b flex-wrap justify-content-between">
                            <h3 class="mg-b">{{"SavedCards"|translate}}</h3>
                            <div class="tab-address custom-add-button cursor-pointer" (click)="addCard()">
                                + {{"AddCard"|translate}}
                            </div>
                        </div>
                        <div class="tab-card" id="show-button">
                            <img src="../../../../assets/images/product_home11/credit-card.png">
                            <h4>{{"SaveYourCard"|translate}}</h4>
                            <p>{{"SaveDesc1"|translate}}<br> {{"SaveDesc2"|translate}}
                                <br>{{"SaveDesc3"|translate}}</p>
                        </div>
                        <div class="Checkout">
                            <div nz-row [nzGutter]="32">
                                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12"
                                    *ngFor="let card of cardList">
                                    <div class="Card">
                                        <div class="front">
                                            <div class="delete-btn">
                                                <button nz-button nzType="default" nzShape="circle" nz-popconfirm
                                                    nzPopconfirmTitle="Are you sure remove this card?"
                                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteCard(card._id)">
                                                    <i nz-icon nzType="delete" nzTheme="fill"></i>
                                                </button>
                                            </div>
                                            <div class="card-chip"></div>
                                            <div class="card-logo">
                                                {{card.brand}}
                                            </div>
                                            <div class="card-number">
                                                <label>{{"CardNumber"|translate}}</label>
                                                <div class="mono">
                                                    **** **** **** {{card.number}}
                                                </div>
                                            </div>
                                            <div class="card-holder">
                                                <label>{{"CardHolder"|translate}}</label>
                                                <div class="mono">
                                                    {{card.name}}
                                                </div>
                                            </div>
                                            <div class="card-date">
                                                <label>{{"Expires"|translate}}</label>
                                                <div class="mono">
                                                    {{card.month}}/{{card.year}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #tab4 -->
                    <h3 class="tab_drawer_heading" rel="tab5">{{"AvailableCoupon"|translate}}</h3>
                    <div id="tab5" class="tab_content common-tab">
                        <h3 class="b-b">{{"AvailableCoupon"|translate}}</h3>
                        <div class="text-center" style="padding-bottom:5%;" *ngIf="couponList.length == 0">
                            {{"NoCoupon"|translate}}
                        </div>
                        <div class="available-coupon" *ngFor="let coupon of couponList;let i = index">
                            <div class="row coupon-top">
                                <div class="coupon-offer text-center col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <h4>{{coupon.percentage}}%</h4>
                                    <h4>{{"OFF"|translate}}</h4>
                                </div>
                                <div class="coupon-text col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                    <p class="pb-1">{{coupon.description}}</p>
                                    <p>Code: <span>{{coupon.couponcode}}</span></p>
                                </div>
                            </div>
                            <div class="expired-details display-flex">
                                <p>Expiry: <span>{{ coupon.validitydays | date:'medium'}}</span> </p>
                                <h6 class="btns" *ngIf="coupon.couponused == true">{{"Used"|translate}}</h6>
                                <h6 class="btns" *ngIf="coupon.couponused == false && coupon.status == false">
                                    {{"Expired"|translate}}
                                </h6>
                            </div>
                            <!-- <div class="expired-details display-flex">
                                <div class="cursor-pointer"  (click)="Notify()"
                                    ngxClipboard [cbContent]="coupon.couponcode">
                                    <span>Copy</span>
                                </div>
                            </div>
                            <p class="myText{{i}}" style="display: none;">
                               {{coupon.description}}
                            </p> -->
                        </div>
                    </div>
                    <!--#tab5-->
                    <h3 class="tab_drawer_heading" rel="tab6">{{"ChangePassword"|translate}}</h3>
                    <div id="tab6" class="tab_content common-tab">
                        <h3 class="b-b mb-0">{{"ChangePassword"|translate}}</h3>
                        <div class="p-3">
                            <form autocomplete="off" nz-form [formGroup]="passwordForm" (ngSubmit)="UpdatePassword()">
                                <nz-form-item>
                                    <nz-form-label nzFor="userName">{{"Password"|translate}}</nz-form-label>
                                    <nz-form-control nzErrorTip="Enter your current password">
                                        <input nz-input name="userName" type="password" formControlName="password"
                                            placeholder="{{'EnterPassword'|translate}}" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label nzFor="displayName">{{"NewPassword"|translate}}</nz-form-label>
                                    <nz-form-control [nzErrorTip]="passwordErrorTpl">
                                        <input nz-input name="displayName" type="password" formControlName="newPassword"
                                            placeholder="{{'NewPassword'|translate}" />
                                        <ng-template #passwordErrorTpl let-control>
                                            <ng-container *ngIf="control.hasError('pattern')">
                                                {{"ResPasswordCond"|translate}}
                                            </ng-container>
                                            <ng-container *ngIf=" control.hasError('required')">
                                        {{"EnterPassword"|translate}}
                                        </ng-container>
                                        <ng-container *ngIf="control.hasError('errorValidity')">
                                            {{"ChangePassMatch"|translate}}</ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label nzFor="about">{{"ConfirmPassword"|translate}}</nz-form-label>
                                    <nz-form-control [nzErrorTip]="cpasswordErrorTpl">
                                        <input nz-input name="about" type="password" formControlName="confirmPassword"
                                            placeholder="{{'EnterConfirm'|translate}}" />
                                        <ng-template #cpasswordErrorTpl let-control>
                                            <ng-container *ngIf="control.hasError('confirm')">
                                                {{"PasswordMatch"|translate}}
                                            </ng-container>
                                            <ng-container *ngIf="control.hasError('required')">
                                                {{"EnterConfirm"|translate}}
                                            </ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                                <div class="text-right">
                                    <button nz-button nzType="primary" [disabled]="passwordForm.invalid" nzSize="large">
                                        {{"Submit"|translate}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="tabs_wrapper">

        </div> -->
    </div>
</div>
<!-- Modal -- Edit Profile(start) -->
<nz-modal [(nzVisible)]="editProfileVisible" nzTitle="{{'EditProfile'|translate}}"
    (nzOnCancel)="editProfileVisible = false" (nzOnOk)="editProfileVisible = false" [nzFooter]="null">
    <form nz-form [formGroup]="editProfileValidateForm" class="addcard-form" (ngSubmit)="editProfileSubmitForm()">
        <nz-form-item>
            <nz-form-label nzFor="userName">{{"UserName"|translate}}</nz-form-label>
            <nz-form-control [nzErrorTip]="fullErrorTpl">
                <input type="text" nzSize="large" nz-input [(ngModel)]="fullname" formControlName="fullName"
                    placeholder="Eg: John Doe" />
                <ng-template #fullErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
                        {{"UserNamePattern"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                        {{"EnterName"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">
                        {{"UserNameValid"|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="nickname">{{"Nickname"|translate}}</nz-form-label>
            <nz-form-control [nzErrorTip]="nickErrorTpl">
                <input type="text" nzSize="large" nz-input [(ngModel)]="nickname" formControlName="nickname"
                    placeholder="Eg: John Doe" />
                <ng-template #nickErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        {{"EnterName"|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="emailErrorTpl">
                <nz-form-label nzFor="email">{{"EmailId"|translate}}</nz-form-label>
                <input type="email" name="email" id="email" [(ngModel)]="email" nz-input formControlName="email"
                    readonly />
                <ng-template #emailErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('email')">
                        {{"EmailValid"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                        {{"EnterEmail"|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="mobileErrorTpl">
                <nz-form-label nzFor="mobile">{{"Mobile"|translate}}</nz-form-label>

                <input type="tel" name="mobile" id="mobile" [(ngModel)]="mobile" nz-input formControlName="mobile" />
                <ng-template #mobileErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('pattern')">
                        {{"MobileValid"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                        {{"EnterMobile"|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="Gender">{{"Gender"|translate}}</nz-form-label>
            <nz-select [(ngModel)]="gender" formControlName="gender">
                <nz-option nzValue="Female" nzLabel="Female"></nz-option>
                <nz-option nzValue="Male" nzLabel="Male"></nz-option>
                <nz-option nzValue="Both" nzLabel="Both"></nz-option>
            </nz-select>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="dob">{{"DOB"|translate}}</nz-form-label>
            <nz-form-control nzErrorTip="Please input your date of birth!">
                <nz-date-picker [nzFormat]="dateOfBirth" nzSize="large" [nzDisabledDate]="disabledDate"
                    [(ngModel)]="dob" formControlName="dob">
                </nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="location">{{"Location"|translate}}</nz-form-label>
            <nz-form-control nzErrorTip="Please input your location!">
                <input type="text" nzSize="large" nz-input [(ngModel)]="location" formControlName="location"
                    placeholder="Eg: Spain" />
            </nz-form-control>
        </nz-form-item>
        <div class="mt-3 pt-1">
            <button nz-button nzBlock nzType="primary" nzSize="large">{{"SaveDetail"|translate}}</button>
        </div>
    </form>
</nz-modal>
<!-- Modal -- Edit Profile(close) -->
<!-- Modal -- Add Address (start) -->
<nz-modal [(nzVisible)]="addisVisible" nzTitle="{{'AddNewAdd'|translate}}" (nzOnCancel)="addhandleCancel()"
    (nzOnOk)="addhandleOk()" [nzFooter]="null">
    <form nz-form [formGroup]="addvalidateForm" class="login-form" (ngSubmit)="addsubmitForm()">
        <h5 class="mb-3">{{"ContactDetail"|translate}}</h5>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="nameErrorTpl">
                <input type="text" nzSize="large" nz-input formControlName="name" placeholder="{{'Name'|translate}}" />
                <ng-template #nameErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
                        {{"UserNamePattern"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                        {{"EnterName"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">
                        {{"UserNameValid"|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="mobileErrorTpl">
                <input type="tel" name="mobile" id="mobile" placeholder="{{'Contactnumber'|translate}}" nz-input
                    formControlName="mobileNumber" />
                <ng-template #mobileErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('pattern')">
                        {{"MobileValid"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                        {{"EnterMobile"|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="altermobileErrorTpl">
                <input type="tel" name="almobile" id="almobile" placeholder="{{'AlternateContactnumber'|translate}}"
                    nz-input formControlName="alternatemobile" />
                <ng-template #altermobileErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('pattern')">
                        {{"MobileValid"|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <h5>{{"Address"|translate}}</h5>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your pincode!">
                <input type="number" nzSize="large" nz-input formControlName="pincode"
                    placeholder="{{'Pincode'|translate}}" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="addErrorTpl">
                <input type="text" nzSize="large" nz-input formControlName="address"
                    placeholder="Address (House No,Building Street, Area)" />
                <ng-template #addErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        {{"EnterAddress"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">
                        {{"AddressLength"|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="localErrorTpl">
                <input type="text" nzSize="large" nz-input formControlName="locality"
                    placeholder="{{'LocalityOrTown'|translate}}" />
                <ng-template #localErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        {{"EnterLocality"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">
                        {{"LocalityLength"|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="cityError">
                <input type="text" nzSize="large" nz-input formControlName="city"
                    placeholder="{{'CityOrDistrict'|translate}}" />
                <ng-template #cityError let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        {{"EnterCity/Dist"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">
                        {{"CityLength"|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="stateError">
                <input type="text" nzSize="large" nz-input formControlName="state"
                    placeholder="{{'State1'|translate}}" />
                <ng-template #stateError let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        {{"EnterState"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">
                        {{"StateLength"|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <input type="text" nzSize="large" formControlName="landmark" nz-input
                    placeholder="{{'LandmarkPlace'|translate}}" />
            </nz-form-control>
        </nz-form-item>
        <h5>{{"SaveAddAs"|translate}}</h5>
        <nz-form-item>
            <nz-form-control>
                <input type="text" nzSize="large" formControlName="address_type" nz-input
                    placeholder="{{'LandmarkPlace'|translate}}" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <label nz-checkbox formControlName="defaultAddress"><span>{{"MakeDefAddress"|translate}}</span></label>
        </nz-form-item>
        <div class="mt-3 pt-1">
            <button nz-button nzBlock nzType="primary" nzSize="large">{{"AddAddress"|translate}}</button>
        </div>
    </form>
</nz-modal>
<!-- Modal -- Add Address (end) -->
<!-- Modal -- Edit Address (start) -->
<nz-modal [(nzVisible)]="editisVisible" nzTitle="{{'EditAddress'|translate}" (nzOnCancel)="edithandleCancel()"
    (nzOnOk)="edithandleOk()" [nzFooter]="null">
    <form nz-form [formGroup]="editvalidateForm" class="login-form" (ngSubmit)="editsubmitForm()">
        <h5 class="mb-3">{{"ContactDetail"|translate}}</h5>
        <nz-form-item>
            <nz-form-control [nzErrorTip]=" nameErrorTpl">
    <input type="text" nzSize="large" nz-input formControlName="name" [(ngModel)]="name"
        placeholder="{{'Name'|translate}}" />
    <ng-template #nameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
            {{"UserNamePattern"|translate}}
        </ng-container>
        <ng-container *ngIf="control.hasError('required')">
            {{"EnterName"|translate}}
        </ng-container>
        <ng-container *ngIf="control.hasError('pattern')">
            {{"UserNameValid"|translate}}
        </ng-container>
    </ng-template>
    </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="mobileErrorTpl">
            <input type="text" nzSize="large" nz-input [(ngModel)]="mobilenumber" formControlName="mobileNumber"
                placeholder="{{'Contactnumber'|translate}}" />
            <ng-template #mobileErrorTpl let-control>
                <ng-container *ngIf="control.hasError('pattern')">
                    {{"MobileValid"|translate}}
                </ng-container>
                <ng-container *ngIf="control.hasError('required')">
                    {{"EnterMobile"|translate}}
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="altemobileErrorTpl">
            <input type="tel" name="altermobile" id="altermobile" [(ngModel)]="alternatemobile" nz-input
                formControlName="alternatemobile" />
            <ng-template #altemobileErrorTpl let-control>
                <ng-container *ngIf="control.hasError('pattern')">
                    {{"InvalidNumber"|translate}}
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <h5>{{"Address"|translate}}</h5>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your pincode!">
            <input type="number" nzSize="large" nz-input [(ngModel)]="pincode" formControlName="pincode"
                placeholder="{{'Pincode'|translate}}" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="addErrorTpl">
            <input type="text" nzSize="large" [(ngModel)]="address" nz-input formControlName="address"
                placeholder="{{'Address1'|translate}}" />
            <ng-template #addErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    {{"EnterAddress"|translate}}
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                    {{"AddressLength"|translate}}
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="localErrorTpl">
            <input type="text" nzSize="large" nz-input [(ngModel)]="locality" formControlName="locality"
                placeholder="{{'LocalityOrTown'|translate}}" />
            <ng-template #localErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    {{"EnterLocality"|translate}}
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                    {{"LocalityLength"|translate}}
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="cityError">
            <input type="text" nzSize="large" nz-input [(ngModel)]="city" formControlName="city"
                placeholder="{{'CityOrDistrict'|translate}}" />
            <ng-template #cityError let-control>
                <ng-container *ngIf="control.hasError('required')">
                    {{"EnterCity/Dist"|translate}}
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                    {{"CityLength"|translate}}
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="stateError">
            <input type="text" nzSize="large" nz-input [(ngModel)]="state" formControlName="state"
                placeholder="{{'State1'|translate}}" />
            <ng-template #stateError let-control>
                <ng-container *ngIf="control.hasError('required')">
                    {{"EnterState"|translate}}
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                    {{"StateLength"|translate}}
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <input type="text" nzSize="large" [(ngModel)]="landmark" formControlName="landmark" nz-input
                placeholder="Eg: Home, Office" />
        </nz-form-control>
    </nz-form-item>
    <h5>{{"SaveAddAs"|translate}}</h5>
    <nz-form-item>
        <nz-form-control>
            <input type="text" nzSize="large" [(ngModel)]="address_type" formControlName="address_type" nz-input
                placeholder="{{'Example'|translate}}" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <label nz-checkbox formControlName="defaultAddress"
            [(ngModel)]="defaultAddress"><span>{{"MakeDefAddress"|translate}}</span></label>
    </nz-form-item>
    <div class="mt-3 pt-1">
        <button nz-button nzBlock nzType="primary" nzSize="large">{{"EditAddress"|translate}}</button>
    </div>
    </form>
</nz-modal>
<!-- Modal -- Edit Address (end) -->
<!-- Modal -- Add Card (start) -->
<nz-modal [(nzVisible)]="addCardVisible" nzTitle="{{'AddCard'|translate}}" (nzOnCancel)="addCardhandleCancel()"
    (nzOnOk)="addCardhandleOk()" [nzFooter]="null">
    <form nz-form [formGroup]="addcardvalidateForm" class="addcard-form" (ngSubmit)="addcardsubmitForm()">
        <nz-form-item>
            <nz-form-label nzFor="cardHolderName">{{"CardHolderName"|translate}}</nz-form-label>
            <nz-form-control [nzErrorTip]="fullErrorTpl">
                <input type="text" nzSize="large" nz-input formControlName="cardHolderName"
                    placeholder="Eg: John Doe" />
                <ng-template #fullErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
                        {{"UserNamePattern"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                        {{"EnterName"|translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">
                        {{"UserNameValid"|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="card">{{"CardNumber"|translate}}</nz-form-label>
            <nz-form-control [nzErrorTip]="CardErrorTpl">
                <input nz-input name="card" id="number" type="text" pattern="\d*" formControlName="cardNumber">
                <ng-template #CardErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        {{"EnterCardNumber"|translate}}
                    </ng-container>
                    <ng-container *ngIf="
                    control.hasError('pattern')
                ">
                        {{'InvalidCardNumber'|translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <div nz-row [nzGutter]="32">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="8">
                <nz-form-item>
                    <nz-form-label nzFor="month">{{"ExpiryMonth"|translate}}</nz-form-label>
                    <nz-form-control [nzErrorTip]="MonthErrorTpl">
                        <input nz-input name="month" id="month" type="number" formControlName="month">
                        <ng-template #MonthErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{"EnterMonth"|translate}}
                            </ng-container>
                            <ng-container *ngIf="control.hasError('min')">
                                {{"MonthValid"|translate}}
                            </ng-container>
                            <ng-container *ngIf="control.hasError('max')">
                                {{"MonthValid"|translate}}
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="8">
                <nz-form-item>
                    <nz-form-label nzFor="year">{{"ExpiryYear"|translate}}</nz-form-label>
                    <nz-form-control [nzErrorTip]="YearErrorTpl">
                        <input nz-input name="year" id="year" min={{minyear}} max="{{maxyear}}" type="number"
                            formControlName="year">
                        <ng-template #YearErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{"EnterYear"|translate}}
                            </ng-container>
                            <ng-container *ngIf="control.hasError('min') || control.hasError('max')">
                                {{"YearValid"|translate}}
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="8">
                <nz-form-item>
                    <nz-form-label nzFor="cvc">{{"CVV"|translate}}</nz-form-label>
                    <nz-form-control [nzErrorTip]="CvcErrorTpl">
                        <input nz-input name="cvc" id="cvc" type="password" pattern="\d*" formControlName="cvv">
                        <ng-template #CvcErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{"EnterCVV"|translate}}
                            </ng-container>
                            <ng-container *ngIf="control.hasError('minlength')">
                                {{"CvvMin"|translate}}
                            </ng-container>
                            <ng-container *ngIf="control.hasError('maxlength')">
                                {{"CvvMaz|translate"}}
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

    </form>
    <div class="mt-3 pt-1">
        <button nz-button nzBlock nzType="primary" [disabled]="addcardvalidateForm.invalid" nzSize="large"
            (click)="addcardsubmitForm()">{{"AddCard"|translate}}</button>
    </div>
</nz-modal>
<!-- Modal -- Add Card (end) -->