<div class="login-page">
	<div class="container">
		<div class="logo">
			<a href="index.html"><img src="./../../assets/style/css/images/banner-background/logo.png" alt="" /></a>
		</div>
		<div class="box">
			<img src="assets/style/css/images/banner-background/background.jpeg" alt="Picture by Autumn Studio"
				class="box__image">
			<div class="w-100 text-center verify-text">
				<h2>{{"SuccessVerify "|translate}}</h2>
				<p>{{"VerifiedEmail"|translate}}</p>
				<a  nz-button nzSize="large" [nzType]="'primary'" (click)="EmailVerify()" nzBlock>{{"Login"|translate}}</a>
			</div>
		</div>
	</div>
</div>