<app-header></app-header>
<div class="cart main-wrapper">
    <div class="container">
        <div nz-row [nzGutter]="32">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="14">
                <div class="checkout">
                    <div class="delivery-address">
                        <div class="select-address display-flex">
                            <div class="left-select-address display-flex">
                                <i class="fa fa-map-marker"></i>
                                <h4>{{"AddDeliverAddress"|translate}}</h4>
                            </div>
                            <div class="right-select-address">
                                {{"AddAddress"|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="hide-delivery-address" style="display: none;">
                        <div class="hide-address display-flex">
                            <form nz-form [formGroup]="addAddress" (ngSubmit)="addAddressSubmit()" class="w-100">
                                <h5 class="mb-3">{{"ContactDetail"|translate}}</h5>
                                <div nz-row [nzGutter]="32">
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="nameErrorTpl">
                                                <input type="text" nzSize="large" nz-input formControlName="name"
                                                    placeholder="{{'Name'|translate}}" />
                                                <ng-template #nameErrorTpl let-control>
                                                    <ng-container *ngIf="control.hasError('required')">
                                                        {{"EnterName"|translate}}
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
                                                        {{"UserNamePattern"|translate}}
                                                    </ng-container>
                                                </ng-template>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="mobileErrorTpl">
                                                <input type="tel" nzSize="large" name="mobile" id="mobile"
                                                    placeholder="{{'Contactnumber'|translate}}" nz-input
                                                    formControlName="mobileNumber" />
                                                <ng-template #mobileErrorTpl let-control>
                                                    <ng-container *ngIf="control.hasError('pattern')">
                                                        {{"MobileValid"|translate}}
                                                    </ng-container>
                                                    <ng-container *ngIf="control.hasError('required')">
                                                        {{"EnterMobile"|translate}}
                                                    </ng-container>
                                                </ng-template>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="altermobileErrorTpl">
                                                <input nzSize="large" type="tel" name="almobile" id="almobile"
                                                    placeholder="{{'AlternateContactnumber'|translate}}" nz-input
                                                    formControlName="alternatemobile" />
                                                <ng-template #altermobileErrorTpl let-control>
                                                    <ng-container *ngIf="control.hasError('pattern')">
                                                        {{"MobileValid"|translate}}
                                                    </ng-container>
                                                </ng-template>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                        <nz-form-item>
                                            <nz-form-control nzErrorTip="Please input your email!">
                                                <input type="email" nz-input formControlName="email"
                                                    placeholder="Email" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                                <h5>{{"Address"|translate}}</h5>
                                <div nz-row [nzGutter]="32">
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                        <nz-form-item>
                                            <nz-form-control nzErrorTip="Please input your pincode!">
                                                <input type="number" nzSize="large" nz-input formControlName="pincode"
                                                    placeholder="{{'Pincode'|translate}}" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="addErrorTpl">
                                                <input type="text" nzSize="large" nz-input formControlName="address"
                                                    placeholder="{{'Address1'|translate}}" />
                                                <ng-template #addErrorTpl let-control>
                                                    <ng-container *ngIf="control.hasError('required')">
                                                        {{"EnterAddress"|translate}}
                                                    </ng-container>
                                                    <ng-container *ngIf="control.hasError('maxlength')">
                                                        {{"AddressLength"|translate}}
                                                    </ng-container>
                                                </ng-template>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="localErrorTpl">
                                                <input type="text" nzSize="large" nz-input formControlName="locality"
                                                    placeholder="{{'LocalityOrTown'|translate}}" />
                                                <ng-template #localErrorTpl let-control>
                                                    <ng-container *ngIf="control.hasError('required')">
                                                        {{"EnterLocality"|translate}}
                                                    </ng-container>
                                                    <ng-container *ngIf="control.hasError('maxlength')">
                                                        {{"LocalityLength"|translate}}
                                                    </ng-container>
                                                </ng-template>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="cityError">
                                                <input type="text" nzSize="large" nz-input formControlName="city"
                                                    placeholder="{{'CityOrDistrict'|translate}}" />
                                                <ng-template #cityError let-control>
                                                    <ng-container *ngIf="control.hasError('required')">
                                                        {{"EnterCity/Dist"|translate}}
                                                    </ng-container>
                                                    <ng-container *ngIf="control.hasError('maxlength')">
                                                        {{"CityLength"|translate}}
                                                    </ng-container>
                                                </ng-template>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="stateError">
                                                <input type="text" nzSize="large" nz-input formControlName="state"
                                                    placeholder="{{'State1'|translate}}" />
                                                <ng-template #stateError let-control>
                                                    <ng-container *ngIf="control.hasError('required')">
                                                        {{"EnterState"|translate}}
                                                    </ng-container>
                                                    <ng-container *ngIf="control.hasError('maxlength')">
                                                        {{"StateLength"|translate}}
                                                    </ng-container>
                                                </ng-template>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                        <nz-form-item>
                                            <nz-form-control>
                                                <input type="text" nzSize="large" formControlName="landmark" nz-input
                                                    placeholder="{{'Eg'|translate}}" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <!-- <nz-form-item>
                                        <nz-form-control>
                                            <input type="text" nzSize="large" formControlName="address_type" nz-input
                                                placeholder="Eg: Home, Office (optional)" />
                                        </nz-form-control>
                                    </nz-form-item> -->
                                </div>
                                <h5 class="mb-0">{{"DeliverOption"|translate}}</h5>
                                <div class="hide-delivery-option">
                                    <nz-radio-group [(ngModel)]="deliValue" (ngModelChange)="cartAll()"
                                        formControlName="delivery_option">
                                        <label nz-radio nzValue="NORMAL">
                                            <div class="delivery-details">
                                                <div class="d-flex">
                                                    <div class="delivery-express-logo">
                                                        <img src="../../../../assets/images/svg/delivery-truck.svg"
                                                            alt="delivery" draggable="false" height="36">
                                                    </div>
                                                    <div class="delivery-express-name">
                                                        <h6 class="mb-1">{{"Normal"|translate}}</h6>
                                                        <p class="text-muted mb-0">{{"DaysDeliverNormal"|translate}}</p>
                                                    </div>
                                                </div>
                                                <div class="delivery-express-price"
                                                    *ngIf="deliveryFee?.order_price > totalAmount || deliveryFee?.order_price == totalAmount">
                                                    <strong>{{deliveryFee.delivery_fee_below_min}}€</strong>
                                                </div>
                                                <div class="delivery-express-price"
                                                    *ngIf="deliveryFee?.order_price < totalAmount">
                                                    <strong>{{deliveryFee.delivery_fee_above_min}}€</strong>
                                                </div>
                                            </div>
                                        </label>
                                        <label nz-radio nzValue="EXPRESS">
                                            <div class="delivery-details">
                                                <div class="d-flex">
                                                    <div class="delivery-express-logo">
                                                        <img src="../../../../assets/images/svg/delivery-truck.svg"
                                                            alt="delivery" draggable="false" height="36">
                                                    </div>
                                                    <div class="delivery-express-name">
                                                        <h6 class="mb-1">{{"Express"|translate}}</h6>
                                                        <p class="text-muted mb-0"> {{"DaysDeliverExpress"|translate}}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="delivery-express-price"
                                                    *ngIf="deliveryFee?.order_price < totalAmount">
                                                    <strong>{{deliveryFee.delivery_fee_above_max}}€</strong>
                                                </div>
                                                <div class="delivery-express-price"
                                                    *ngIf="deliveryFee?.order_price > totalAmount || deliveryFee?.order_price == totalAmount">
                                                    <strong>{{deliveryFee.delivery_fee_below_max}}€</strong>
                                                </div>
                                            </div>
                                        </label>
                                    </nz-radio-group>
                                </div>
                                <div class="mt-3 pt-2">
                                    <button nz-button nzType="primary" [disabled]="addAddress.invalid"
                                        class="submit-address" nzSize="large">{{"Submit"|translate}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="checkout">
                    <div class="payment-option">
                        <div class="payment-methods display-flex">
                            <div class="left-payment display-flex">
                                <i class="fa fa-credit-card"></i>
                                <h4>{{"PaymentOption"|translate}}</h4>
                            </div>
                            <div class="right-payment">
                                {{"AddPayment"|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="hide-payment-option" style="display: none;">
                        <!-- <div class="padl"> -->
                        <nz-radio-group [(ngModel)]="payMethod" class="padl display-flexing">
                            <label nz-radio nzValue="CARD"><img src="../../../assets/images/card.png"></label>
                            <label nz-radio nzValue="PAYPAL" class="padl mr4"><img src="../../../assets/images/paypal.png"
                                    class="img20"></label>

                        </nz-radio-group>
                        <!-- </div> -->

                        <div class="hide-address display-flex" *ngIf="payMethod == 'CARD'">
                            <form nz-form [formGroup]="addPayment" class="addcard-form" (ngSubmit)="addPaymentSubmit()">
                                <nz-form-item>
                                    <nz-form-label nzFor="cardHolderName">{{"CardHolderName"|translate}}</nz-form-label>
                                    <nz-form-control [nzErrorTip]="CardErrorTpl">
                                        <input type="text" nzSize="large" nz-input formControlName="cardHolderName"
                                            placeholder="Eg: John Doe" />
                                        <ng-template #cardErrorTpl let-control>
                                            <ng-container
                                                *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
                                                {{"UserNamePattern"|translate}}
                                            </ng-container>
                                            <ng-container *ngIf="control.hasError('required')">
                                                {{"EnterName"|translate}}
                                            </ng-container>
                                            <ng-container *ngIf="control.hasError('pattern')">
                                                {{"UserNameValid"|translate}}
                                            </ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label nzFor="card">{{"CardNumber"|translate}}</nz-form-label>
                                    <nz-form-control [nzErrorTip]="CardErrorTpl">
                                        <input nz-input name="card" id="number" type="text" 
                                            formControlName="cardNumber">
                                        <ng-template #CardErrorTpl let-control>
                                            <ng-container *ngIf="control.hasError('required')">
                                                {{"EnterCardNumber"|translate}}
                                            </ng-container>
                                            <ng-container *ngIf="
                                            control.hasError('pattern')
                                        ">
                                                Invalid card number
                                            </ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                                <div nz-row [nzGutter]="32">
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="8">
                                        <nz-form-item>
                                            <nz-form-label nzFor="month">{{"ExpiryMonth"|translate}}</nz-form-label>
                                            <nz-form-control [nzErrorTip]="MonthErrorTpl">
                                                <input nz-input name="month" id="month" type="number"
                                                    formControlName="month">
                                                <ng-template #MonthErrorTpl let-control>
                                                    <ng-container *ngIf="control.hasError('required')">
                                                        {{"EnterMonth"|translate}}
                                                    </ng-container>
                                                    <ng-container *ngIf="control.hasError('min')">
                                                        {{"MonthValid"|translate}}
                                                    </ng-container>
                                                    <ng-container *ngIf="control.hasError('max')">
                                                        {{"MonthValid"|translate}}
                                                    </ng-container>
                                                </ng-template>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="8">
                                        <nz-form-item>
                                            <nz-form-label nzFor="year">{{"ExpiryYear"|translate}}</nz-form-label>
                                            <nz-form-control [nzErrorTip]="YearErrorTpl">
                                                <input nz-input name="year" id="year" type="number"
                                                    formControlName="year">
                                                <ng-template #YearErrorTpl let-control>
                                                    <ng-container *ngIf="control.hasError('required')">
                                                        {{"EnterYear"|translate}}
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="control.hasError('min') || control.hasError('max')">
                                                        {{"YearValid"|translate}}
                                                    </ng-container>
                                                </ng-template>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="8">
                                        <nz-form-item>
                                            <nz-form-label nzFor="cvc">{{"CVV"|translate}}</nz-form-label>
                                            <nz-form-control [nzErrorTip]="CvcErrorTpl">
                                                <input nz-input name="cvc" id="cvc" type="password" pattern="\d*"
                                                    formControlName="cvv">
                                                <ng-template #CvcErrorTpl let-control>
                                                    <ng-container *ngIf="control.hasError('required')">
                                                        {{"EnterCardNumber"|translate}}
                                                    </ng-container>
                                                    <ng-container *ngIf="control.hasError('minlength')">
                                                        {{"CvvMin"|translate}}
                                                    </ng-container>
                                                    <ng-container *ngIf="control.hasError('maxlength')">
                                                        {{"CvvMaz"|translate}}
                                                    </ng-container>
                                                </ng-template>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                                <div class="mt-3 pt-2">
                                    <button nz-button nzType="primary" [disabled]="addPayment.invalid" class="add-card"
                                        nzSize="large">{{"Submit"|translate}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="10">
                <div class="price-details">
                    <h4>{{"PriceDetail"|translate}}</h4>
                    <div class="p-3 b-t">
                        <div class="product-content-list display-flex">
                            <p class="w-70 pl-1">{{"BagTotal"|translate}} ({{cartList.length}} items)</p>
                            <p>{{totalAmount |number:'1.1-2'}}€</p>
                        </div>
                        <div class="product-content-list display-flex" *ngIf="totalAmount > 0">
                            <p class="w-70 pl-1">{{"DeliveryCharge"|translate}}</p>
                            <p *ngIf="delivery_fee != 0">{{delivery_fee}}€</p>
                            <p *ngIf="delivery_fee == 0" class="text-sucess">{{"FREE"|translate}}</p>
                        </div>
                        <div class="sub-total display-flex">
                            <h5 class="w-70 pl-1">{{"TotalPayable"|translate}}</h5>
                            <h5 *ngIf="totalAmount > 0">{{(totalAmount+delivery_fee)|number:'1.1-2'}}€
                            </h5>
                            <h5 *ngIf="totalAmount <= 0">{{(totalAmount) |number:'1.1-2'}}€</h5>
                        </div>
                        <p *ngIf="quantityIssue == true" style="color: red">{{"StockIssueCart"|translate}}</p>
                        <p *ngIf="productNotAvailable == true" style="color: red">{{"productNotAvailable"|translate}}</p>
                        <button nz-button nzBlock nzType="primary" [disabled]="isDisable"
                            *ngIf="totalAmount != 0 && quantityIssue == false && productNotAvailable == false && payMethod == 'CARD'"
                            (click)="submitOrder()">{{"Paynow"|translate}}</button>
                        <button nz-button nzBlock class="paypal-button" [disabled]="isDisable"
                            *ngIf="totalAmount != 0 && quantityIssue == false && productNotAvailable == false && payMethod == 'PAYPAL'"
                            (click)="submitOrder()"><img src="../../../assets//images/paypal.png" height="40"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>