<div class="landing-wrapper">
    <app-landing-header></app-landing-header>
</div>
<div class="main-container main-wrapper">
    <div class="container">
        <div class="title-box-default">
            <a href="#" class="prev-new-arrival"><i class="fa fa-arrow-circle-left"></i></a>
            <span class="title-tab">{{"FooterTerms"|translate}}</span>
            <a href="#" class="next-new-arrival"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <div class="privacy-section mb-20">
            <p>Please read these terms and conditions before proceeding to use this website. If you do not accept these
                terms of use, you may stop here and exit from this website. By proceeding further, you acknowledge these
                Terms and Conditions explicitly
                as well as the Website’s Privacy Policy.</p>
            <p>These terms represent the legally binding services available on the website. These Terms and Conditions
                and the Privacy Policy extend to all users who visit the website, including guest users who visit but
                not shop on the website and registered
                users who purchase a product or make a transaction on the website.</p>
            <p>Golden Rose reserves the right to change, update, or terminate any part of the website for any reason,
                without prior notice and liability to the users or any third parties. The user is responsible for
                reviewing these Terms and Conditions
                at regular intervals. No data in these Terms of Use should be construed to confer any rights to third
                party beneficiaries.</p>

            <h4>Definitions</h4>
            <p>“Jewelry” means the jewelry that is predesigned or jewelry set with Gold, Silver, and Diamonds and/or
                other products that are available for sale on our website. Please note that all accessories are sold on
                an “as is” basis.</p>

            <h4>Registration</h4>
            <p>Users may register on the website to become Members prior to completing any transaction on the website.
                Guests’ checkouts will be provided with a user account on completion of purchase. You must provide
                personal information, i.e., KYC,
                as per the norms.</p>
            <p>Registration is only a one time process, and if the user has previously registered, he/she shall log in
                to his/her account.</p>

            <h4>Pricing Information</h4>
            <p>Throughout the website, prices are quoted in Dollars. Gift packing costs (if a customer is given a
                choice) will be charged over and above the total price of your orders.</p>
            <p>Golden Rose reserves the right to reject or accept your order and offer either partially or fully. Our
                order acceptance will take place upon dispatch of the products. Shipping of all the products may or may
                not occur at the same time.
                In such cases, that part of the order dispatched will be deemed to have been accepted by us.</p>
            <p>If you have given us your mobile number and email address, we will notify you by the respective medium as
                soon as possible to confirm the receipt of your order and e-mail you again to confirm dispatch.</p>
            <p>We are making constant efforts to make sure that our products' colors and sizes are displayed accurately
                on the website. However, the colors displayed on the monitor depends on the specifications of your
                monitor. Packaging of the product
                may vary from the packaging of the product displayed on the website.</p>

            <h4>Obligations</h4>
            <p>You need to provide true, accurate, current, and complete information about yourself as prompted on our
                registration form.</p>
            <p>We maintain and update the user-related data to keep it accurate, current, and complete. In case you
                provide any information that is false, inaccurate, incomplete, or outdated or if Golden Rose has a
                reasonable ground to suspect that such
                information is incorrect, faulty, and not current or not following this User Agreement, we have the
                right to indefinitely terminate or temporarily suspend your account and refuse to provide you access to
                our website.</p>
            <p>If a non-delivery occurs on account of a mistake by you (i.e., wrong name or address or any other false
                information), any extra cost incurred by Golden Rose for redelivery shall be collected from you, and you
                shall pay the necessary charges
                after that.</p>
            <p>To provide authentic and genuine information in all instances where any information is requested from
                you. Golden Rose reserves the right to confirm and validate the information and other details you
                provide at any point of time. Suppose
                upon confirmation, and your details are found to be untrue (wholly or partly). If that is the case, we
                have the right to reject the registration and debar you from using the services of our website and/or
                other affiliated websites
                without prior intimation whatsoever.</p>
            <p>The delivery address of your orders is to be made correct and proper in all respects. Do check the
                product description carefully before placing an order. By placing an order, you agree to be bound by the
                conditions of sale and invitation
                to offer included in the item's description.</p>

            <h4>Restrictions</h4>
            <p>Golden Rose reserves the right, at its sole discretion, to limit the quantity/value of the items
                purchased by you and such restrictions may be applicable to orders placed by the same account, the same
                credit / debit card, and also to orders
                that use the same billing and/or shipping address. We will provide notification to the customer should
                such limits be applied. We reserve the right, at our sole discretion, to prohibit sales to any one as it
                may deem fit.</p>

            <h4>Site Security</h4>
            <p>You are not allowed to violate the security of this website, including, but not limited to:</p>
            <ul>
                <li>Accessing the data that are not intended for you, logging onto an unauthorized server or any other
                    user's account.</li>
                <li>Attempting to scan or test the vulnerability of a system or a network to breach security or
                    authentication measures with unauthorized usage.</li>
                <li>Attempting to intrude into other users', host, or a network via means of submitting a virus to the
                    site, overloading, "flooding," "spamming," or "crashing."</li>
                <li>Sending unsolicited emails, including promotions and/or advertising of products or services.</li>
            </ul>
            <p>Golden Rose will investigate occurrences that may involve violations and cooperate with law enforcement
                authorities to prosecute users involved in such violations.</p>
            <p>You now agree not to use any malware-infected device or software to interfere with the proper working of
                this website. Further, you agree not to use or try to use an unauthorized search engine, software, tool,
                or other mechanisms. These
                include but are not limited to browsers, robots, representations, or intelligent agents to navigate or
                search this website other than the search engine available on this website and other than generally
                available third party web browsers.</p>

            <h4>Feedback and Comments</h4>
            <p>All reviews, comments, suggestions, feedback, ideas, and other submissions disclosed, submitted, or
                offered to (link) on this website or otherwise disclosed, submitted or offered in connection with your
                use of this website (collectively,
                the "Comments") will be and remain our property. Such disclosure, submission, or offer of any 'Comments'
                shall constitute an assignment to the website of all rights and interests in copyrights and other
                intellectual properties in the
                'Comments.'
            </p>
            <p>The website will be under no obligation with respect to the following:</p>
            <ul>
                <li>To keep any comments a secret</li>
                <li>To pay the users any compensation for any comments</li>
                <li>To respond to any comments.</li>
            </ul>
            <p>You accept and confirm that any comments submitted by you to the website will not violate this policy or
                any third party's rights. It includes copyright, trademark, privacy, or other personal or proprietary
                rights (s), and will not injure
                any person or entity.</p>

            <h4>Copyrights & Trademark</h4>
            <p>Golden Rose reserves all intellectual property rights in all text, programs, products, processes,
                technology, content, and other materials, which appear on this website. Access to this website does not
                provide anyone the authority to use
                any name, logo, or mark in any manner. All information, including images, text, designs, icons,
                photographs, programs, music clips or downloads, videos, and written materials that are part of Golden
                Rose are intended solely for personal
                and non-commercial use.</p>
            <p>No right to title or interest in the downloaded materials or software is transferred to you when you
                download or copy the contents. You will not reproduce (except as noted above), publish, transmit,
                distribute, display, alter, create derivative
                works, sell or participate in any sale, in whole or in part, any of the contents of the website or any
                related software. All software and applications used in this website are the sole property of (link) or
                its suppliers, and they
                are protected by the European Union and international copyright laws.</p>

            <h4>Termination</h4>
            <p>This Terms of the User Agreement is practical unless and until terminated by either you or us. You may
                terminate or suspend this Terms of Use agreement at any time by informing us in writing through email
                that you no longer wish to be
                linked with this website, provided that you terminate further use of this website.</p>

            <h4>Governing Laws</h4>
            <p>This User Agreement shall be construed in accordance with the applicable laws of Spain. The authorities
                from the European Union, shall alone have exclusive jurisdiction in any proceedings arising out of this
                agreement.</p>

            <h4>Modification Of Terms & Conditions</h4>
            <p>Golden Rose reserves the right at any time to modify the terms and conditions without any prior
                notification to the user. After any such modification to this version of the agreement, we will inform
                you of the changes through the e-mail
                address you provided while registering on Golden Rose. The users can always access the latest version of
                the User Agreement at any given time on (link). It is advised you regularly view the User Agreement. If
                the modified User Agreement
                is not acceptable to you, you may discontinue using our service. However, if you continue to use our
                website, you must agree and accept the modified terms and conditions and undertake to abide by the
                modified User Agreement.</p>
        </div>
    </div>
</div>
<app-landing-footer></app-landing-footer>