@media (max-width: 1920px) {}

@media (max-width: 1366px) {}

@media (max-width: 1200px) {
    .box-search-adv-link {
        transform: translateY(50%);
    }

    .col-right {
        display: none;
    }
}

@media (max-width: 1024px) {
    .text-adv-intro>h2 {
        font-size: 26px;
    }
}

@media (max-width: 992px) {
    .newsletter-intro {
        justify-content: center;
        margin-bottom: 30px;
    }

    /* Footer */
    .social-footer {
        text-align: left;
    }

    .social-footer a {
        margin: 0 15px 0 0;
    }

    .copy-right,
    .contact-footer {
        padding: 10px 0px;
    }

    .contact-footer p {
        margin-top: 10px;
    }

    .copy-right p {
        margin: 0;
    }

    .my-account ul.tabs h5 {
        padding: 10px 15px;
    }
}

@media (max-width: 990px) {
    .text-adv-intro {
        left: 20px;
    }

    .box-search-adv-search,
    .box-search-adv {
        right: 20px;
    }

    .wishlist-card {
        margin-bottom: 30px;
    }

    .header-row {
        padding: 0px 15px;
        margin: 0px;
    }

    .top-nav {
        padding: 15px;
    }

    .col-right {
        display: none;
    }
}

@media (max-width: 767px) {
    #header {
        padding: 20px 0px;
    }

    .my-account .Checkout .Card,
    .my-account .Form {
        width: 100%;
    }

    .my-account .Checkout .Card,
    .my-account .Form {
        margin-top: 30px;
    }

    .my-account .Form .Input input[type="text"],
    .my-account .Form .Input input[type="number"] {
        width: 100%;
    }

    .common .common-header {
        padding: 80px 15px;
    }

    .leading-info-product-cart {
        left: -200px;
    }

    .item-thumb-product:hover .leading-info-product-cart {
        left: -200px;
    }

    .wishlist .container {
        padding: 35px 15px;
    }

    .cart {
        padding: 100px 0px 0px;
        margin-top: 0;
    }

    .product-view #product-tabs .inner .tab-item>ul {
        padding-left: 0px;
        position: relative;
        top: unset;
        margin-bottom: 20px;
    }

    .tab-banner {
        display: none;
    }

    .login-page .box {
        padding: 20px 20px 20px;
    }

    .login-page .box__image {
        display: none !important;
    }

    .wishlist-image img {
        height: auto !important;
        object-fit: contain !important;
    }

    .col-left {
        padding: 0 !important;
    }

    .col-right {
        padding: 0 20px 0 20px;
    }

    .overflow-x {
        overflow-x: hidden;
    }


    .products-list .item .inner .product-info .desc {
        max-height: initial;
    }

    .products-list .item .inner .product-info>.button {
        margin: 10px 0 0 0;
    }

    .terms-top {
        padding-top: 25% !important;
    }
}

@media (max-width: 575px) {
    .header-row {
        padding: 0px;
    }

    .my-account {
        padding-top: 100px;
    }

    .common .common-header h3 {
        margin: 0px 0px 24px;
    }

    .text-special strong {
        font-size: 52px;
    }

    .text-special span br {
        display: none;
    }

    .text-special>label {
        font-size: 25px;
        font-weight: normal;
        left: 0;
        position: relative;
        top: unset;
    }

    .text-special>span {
        font-size: 42px;
        right: unset;
        top: unset;
        position: relative;
        right: unset;
        top: unset;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-special>a {
        position: relative;
        margin: 10px auto;
        top: unset;
    }

    .banner-simple-text {
        margin-bottom: 100px;
    }

    .banner-simple-text>h2 {
        font-size: 56px;
    }

    .banner-simple-text>h3 {
        font-size: 56px;
    }

    .top-search {
        float: left;
        margin: 0px auto auto;
        max-width: 100%;
    }

    .top-search .search-cat {
        display: none;
    }

    .header-sm {
        display: flex;
        padding: 15px 10px;
        margin: 0px 10px 0px 0px;
    }

    .main-nav,
    .top-nav {
        display: none;
    }

    .search-form {
        float: unset;
        max-width: unset;
    }

    .common .common-header {
        flex-wrap: wrap;
        padding: 80px 20px;
    }

    .common .common-header .common-list {
        float: unset;
    }

    .my-account .available-coupon .coupon-offer {
        padding: 0px;
        border: 0px;
    }

    .my-account .available-coupon {
        margin: 0 10px 10px;
    }

    .footer .footer-bottom .block-link-footer li span {
        border: 0;
        padding: 0;
    }

    .cart-list {
        overflow-x: auto;
    }

    .footer-bottom .row {
        margin: 0px;
    }

    .have-coupon a,
    .returning-customer a {
        padding: 10px 0 0;
    }

    .delivery-address .select-address,
    .payment-option .payment-methods {
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
    }

    .delivery-address .right-select-address,
    .payment-option .right-payment {
        margin-top: 15px;
    }

    .products-list .item .inner .product-info .box-qty-btncart {
        float: unset;
        position: relative;
        top: unset;
        right: unset;
    }

    .products-list .item .inner .product-info .box-qty-btncart .flycart_qty_edit {
        float: unset;
        position: relative;
        top: unset;
        left: unset;
    }

    .products-list .item .inner .product-info .box-qty-btncart .btn-cart,
    .products-list .item .inner .product-info .box-qty-btncart .btn-update,
    .products-list .item .inner .product-info .box-qty-btncart .btn-pro-config {
        margin: 10px 0px;
    }

    .who {
        flex-direction: column-reverse;
    }

    .goals {
        flex-direction: column;
    }

    .terms-top {
        padding-top: 35% !important;
    }
}

@media (max-width: 502px) {
    .mob-width {
        width: 100%;
    }

    .terms-top {
        padding-top: 45% !important;
    }
}

@media (max-width: 480px) {
    .terms-top {
        padding-top: 45% !important;
    }
}

@media (max-width: 425px) {
    .newsletter-form input[type="submit"] {
        width: 100%;
        margin: 10px 0 0;
    }

    .products-grid .item .inner .item-image .item-image-inner .product-image img {
        object-fit: cover;
    }

    .terms-top {
        padding-top: 45% !important;
    }
}

@media (max-width: 421px) {
    .footer .footer-bottom .block-link-footer li a {
        text-align: left;
        display: block;
        padding: 0;
        border: 0 !important;
        float: unset !important;
    }

    .footer .footer-bottom .block-link-footer li {
        display: block !important;
        margin: 0 0 10px 0px;
    }

    .footer .footer-bottom .block-link-footer {
        margin: 20px -15px;
    }

    .footer .footer-bottom .block-link-footer {
        text-align: left;
    }

    .terms-top {
        padding-top: 45% !important;
    }
}

@media (max-width: 320px) {}
