<div class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div nz-row [nzGutter]="32">
                <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="5">
                    <h3>{{"About"|translate}}</h3>
                    <ul class="mb-0">
                        <li><a [routerLink]="['/privacy']">{{"FooterPrivacy"|translate}}</a></li>
                        <li><a [routerLink]="['/aboutus']">{{"About"|translate}}</a></li>
                        <li><a href="mailto:info@goldenrosse.com" target="_blank">{{"CustService"|translate}}</a></li>
                    </ul>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="5">
                    <h3>{{"ClientInfo"|translate}}</h3>
                    <ul>

                        <li><a [routerLink]="['/return-conditions']">{{"ReturnCondition"|translate}}</a></li>
                        <li><a [routerLink]="['/return-form']">{{"ReturnForm"|translate}}</a></li>
                        <li><a [routerLink]="['/data-protection']">{{"DataProtection"|translate}}</a></li>
                        <li><a [routerLink]="['/delivery-charges']">{{"DeliveryCharges"|translate}}</a></li>
                        <li><a [routerLink]="['/cookies-policy']">{{"CookiesPolicy"|translate}}</a></li>
                        <li><a [routerLink]="['/terms-of-use']">{{"TermsOfUse"|translate}}</a></li>

                    </ul>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="5">
                    <h3>{{"Address"|translate}}</h3>
                    <p class="mb-2">+34 650 859 562</p>
                    <p>Calle Asturias, Villaviciosa de Odón. Madrid.</p>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="4">
                    <h3>{{"Payment"|translate}}</h3>
                    <ul class="block-payment">
                        <li>
                            <a href="#"><img src="../../../assets/images/banner/p1.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="../../../assets/images/banner/p2.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="../../../assets/images/banner/p3.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="../../../assets/images/banner/p4.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="5">
                    <h3>{{"Community"|translate}}</h3>
                    <ul class="block-payment social-link">
                        <li>
                            <a href="https://twitter.com/rosse_golden" target="_blank">
                                <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512"
                                    style="enable-background:new 0 0 512 512;" xml:space="preserve" width="24"
                                    height="24">
                                    <g>
                                        <g>
                                            <path fill="#ffffff" d="M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016
        c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992
        c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056
        c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152
        c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792
        c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44
        C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568
        C480.224,136.96,497.728,118.496,512,97.248z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/goldenrosseofficial/" target="_blank">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                    xml:space="preserve" width="24" height="24">
                                    <g>
                                        <g>
                                            <path fill="#ffffff" d="M352,0H160C71.648,0,0,71.648,0,160v192c0,88.352,71.648,160,160,160h192c88.352,0,160-71.648,160-160V160
			C512,71.648,440.352,0,352,0z M464,352c0,61.76-50.24,112-112,112H160c-61.76,0-112-50.24-112-112V160C48,98.24,98.24,48,160,48
			h192c61.76,0,112,50.24,112,112V352z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path fill="#ffffff" d="M256,128c-70.688,0-128,57.312-128,128s57.312,128,128,128s128-57.312,128-128S326.688,128,256,128z M256,336
			c-44.096,0-80-35.904-80-80c0-44.128,35.904-80,80-80s80,35.872,80,80C336,300.096,300.096,336,256,336z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <circle cx="393.6" cy="118.4" r="17.056" fill="#ffffff" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="info-copy">
                Golden Rosse <span class="copyright-icon">&copy;</span> {{ currentYear }}. All rights reserved.
            </p>
        </div>
    </div>
</div>