<div class="about-wrapper">
    <app-landing-header></app-landing-header>
</div>
<div class="main-container  mb-0 col2-right-layout pt-10 pb-10">
    <div class="container">
        <div id="jcl-demo">
            <div class="custom-container vertical">
                <a class="prev">&lsaquo;</a>
                <div class="carousel">
                    <ul>
                        <li *ngFor="let pImg of productImg">
                            <a data-image-index="0" title="" class="thumb-link">
                                <img alt="" [src]="url+pImg.path" (mouseover)='over(url+pImg.path)'
                                    (mouseout)='out(url+pImg.path)' width="200" height="200">
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="next">&rsaquo;</a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-main col-lg-9 col-md-12 col-sm-12 col-xs-12"
                *ngFor="let detail of productList;let i = index">
                <div class="row">
                    <div id="messages_product_view"></div>
                    <div class="product-view">
                        <div class="product-essential">
                            <div>
                                <input type="hidden" value="MG4MpXwwnitHheJz" name="form_key">
                                <div class="no-display">
                                    <input type="hidden" value="916" name="product">
                                    <input type="hidden" value="" id="related-products-field" name="related_product">
                                </div>
                                <div class="product-row">
                                    <div class="product-img-box col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="inner">
                                            <div class="img-left product-view-custom">
                                                <div class="product-image product-image-zoom">
                                                    <div class="product-image-gallery">
                                                        <span (mousemove)="onMouseMove($event)"
                                                            (mouseout)="onMouseOut()">
                                                            <img #img (load)="onLoad()"
                                                                title="Plaid Cotton Shirt-Khaki-M"
                                                                alt="Plaid Cotton Shirt-Khaki-M"
                                                                src="{{ popUpImg?popUpImg:url+productImg[0]?.path }}"
                                                                class="gallery-image visible" id="image-main"
                                                                (error)="$event.target.src = 'assets/images/notavailable.jpg'">
                                                           <div #lens [style.left]="posX+'px'" [style.top]="posY+'px'"
                                                                class="img-zoom-lens"></div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div #divZoomed class="img-zoom-result"></div>
                                            </div>
                                            <div class="more-views">
                                                <div class="navslider">
                                                    <a class="prev">{{"Prev"|translate}}</a>
                                                    <a class="next">{{"Next"|translate}}</a>
                                                </div>
                                                <div class="inner">
                                                    <div class="carousel" id="jCarouselLite">
                                                        <ul class="product-image-thumbs">
                                                            <li *ngFor="let pImg of productImg" class="my-slide">
                                                                <a data-image-index="0" title="" class="thumb-link">
                                                                    <img alt="" [src]="url+pImg?.path"
                                                                    (mouseover)='over(url+pImg?.path)'
                                                                    (mouseout)='out(url+pImg?.path)'>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-shop col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="d-flex flex-column">
                                            <div class="box-left">
                                                <div class="product-name">
                                                    <h1 class="mb-0">{{detail.name}}</h1>
                                                </div>
                                                <div class="mb-3 mt-2">
                                                    <nz-rate [ngModel]="detail.ratings" nzAllowHalf nzDisabled>
                                                    </nz-rate>
                                                </div>
                                                <div class="wrap-ns-price">
                                                    <div class="price-box">
                                                        <span class="regular-price">
                                                            <span
                                                                class="price">{{detail.available_price[priceInd] |number:'1.1-2'}}€</span>
                                                            <del
                                                                *ngIf="detail.offer_percentage > 0">€{{detail.price[priceInd] |number:'1.1-2'}}</del>
                                                        </span>
                                                        <span style="font-size:14px;margin-left:3%"
                                                            *ngIf="detail.weight"
                                                            class="price">{{detail.weight[priceInd]}}{{"Grams"|translate}}</span>
                                                    </div>
                                                </div>
                                                <p *ngIf="detail.stock_available == true && detail.stock_count[priceInd] < 10 && detail.stock_count[priceInd] > 0 "
                                                    style="color: red">{{"HurryUp"|translate}}
                                                    {{detail.stock_count[priceInd]}}
                                                    {{"Availabiltiy"|translate}}
                                                </p>
                                                <div class="availability in-stock box-style"
                                                    *ngIf="product_size.length >  1">
                                                    <Select [(ngModel)]="productsize" name="fieldName" ngDefaultControl
                                                        (ngModelChange)="changeprice(productsize)" class="w-100">
                                                        <Option [nzValue]="si"
                                                            *ngFor="let si of product_size;let ind = index">{{si}}
                                                        </Option>
                                                    </Select>
                                                    <!-- <ul>
                                                        <li class="first">{{"Availabiltiy"|translate}}</li>
                                                        <li class="last" *ngIf="detail.stock_available == true">
                                                            {{"InStock"|translate}}
                                                        </li>
                                                        <li class="last" *ngIf="detail.stock_available == false">
                                                            {{"OutofStock"|translate}}</li>
                                                    </ul> -->
                                                </div>
                                                <div class="short-description">
                                                    <div class="std" [innerHTML]=detail.description></div>
                                                    <h6 class="mt-2">
                                                        <span>{{"ProductId"|translate}}:</span>
                                                        <span>{{detail.product_id}}</span>
                                                    </h6>
                                                </div>
                                                <!-- <div class="product-addto">
                                                    <div class="product-addto-inner">
                                                        <div id="product-options-wrapper" class="product-options"
                                                            *ngIf="product_size.length >  1">
                                                            <div class="last">
                                                                <div class="group-item  last first">
                                                                    <span><label>{{"Size"|translate}}</label></span>
                                                                    <nz-radio-group [(ngModel)]="productsize">
                                                                        <label nz-radio-button [nzValue]="si"
                                                                            (click)="changeprice(ind)"
                                                                            *ngFor="let si of product_size;let ind = index">{{si}}</label>
                                                                    </nz-radio-group>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div> -->
                                            </div>
                                            <div class="mt-3 product-add-cart">
                                                <div class="product-add-count" *ngIf="detail.stock_count[priceInd] != 0">
                                                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate"
                                                        [nzAddOnAfter]="addOnAfterTemplate">
                                                        <input type="text" disabled="disabled" class="text-center focus"
                                                            nz-input [(ngModel)]="detail.productcount" maxlength="12"
                                                            id="qty" name="qty" #qty />
                                                    </nz-input-group>

                                                    <ng-template #addOnBeforeTemplate>
                                                        <i nz-icon nzType="minus" nzTheme="outline"
                                                            class="cursor-pointer" (click)="Removecount(i)"></i>
                                                    </ng-template>
                                                    <ng-template #addOnAfterTemplate>
                                                        <i nz-icon nzType="plus" nzTheme="outline"
                                                            class="cursor-pointer" (click)="Addcount(i)"
                                                            [ngClass]="{'a_disabled':detail.stock_count[priceInd] < detail.productcount + 1 && AddProduct == true}"></i>
                                                    </ng-template>
                                                </div>
                                                <div class="product-action">
                                                    <button class="w-100" nz-button nzType="primary"
                                                    *ngIf="detail.stock_count[priceInd] != 0"
                                                        id="product-addtocart-button" title="Add to Cart" type="button"
                                                        (click)=" Buy(detail,detail.productcount)">
                                                        {{"Buy"|translate}}
                                                    </button>
                                                    <button class="w-100" nz-button nzBlock nzType="primary"
                                                        *ngIf="detail.stock_count[priceInd] == 0"
                                                        [disabled]="!detail.stock_available"
                                                        id="product-addtocart-button" title="Add to Cart" type="button">
                                                        {{"OutofStock"|translate}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="product-tabs">
                                <div class="inner">
                                    <div class="tab-content">
                                        <div id="tab9" class="tab-pane active">
                                            <div id="review">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div id="customer-reviews" class="box-collateral box-reviews">
                                                        <h2>{{"CustomerReview"|translate}}</h2>

                                                        <dl>
                                                            <dt>
                                                                <a>{{detail.name}}</a> {{"ReviewedBy"|translate}}
                                                                <span>{{review.length}}</span>
                                                            </dt>
                                                            <hr />
                                                            <dd *ngIf="review.length == 0">
                                                                {{"NoReview"|translate}}
                                                            </dd>
                                                            <dd *ngFor="let rev of review">

                                                                <nz-rate [ngModel]="rev.rating" nzAllowHalf nzDisabled>
                                                                </nz-rate>

                                                                <div>{{rev.review}}</div> <small
                                                                    class="date">{{rev.createdAt | date}}</small>
                                                            </dd>
                                                            <hr />
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-right sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="inner-right">
                    <div class="block block-pre-related vt-slider">
                        <div class="slider-inner">
                            <div class="block-title">
                                <strong>
                                    <span>{{"PremiumProducts"|translate}}</span>
                                </strong>
                            </div>
                            <div class="container-slider premium-related-card">
                                <!-- <button nz-button nzType="light" nzShape="circle" class="slide-btn slide-btn--left"
                                        (click)="this.myCarousel.pre()">
                                        <i nz-icon nzType="left" nzTheme="outline"></i>
                                    </button>
                                    <button nz-button nzType="light" nzShape="circle" class="slide-btn slide-btn--right"
                                        (click)="this.myCarousel.next()">
                                        <i nz-icon nzType="right" nzTheme="outline"></i>
                                    </button> -->
                                <div>
                                    <div nz-carousel-content>
                                        <div class="wrap-item products-grid" *ngFor="let list of carouselProduct">
                                            <div class="item">
                                                <div class="inner">
                                                    <div class="item-image">
                                                        <div class="item-image-inner">
                                                            <a class="product-image" *ngIf="isloggedin == 'true'"
                                                                routerLink="/product/{{list._id}}">
                                                                <img [src]="url+list.file[0].path" alt="">
                                                            </a>
                                                            <a class="product-image" *ngIf="isloggedin != 'true'"
                                                                routerLink="/productview/{{list._id}}">
                                                                <img [src]="url+list.file[0].path" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <div class="product-name">
                                                            <a *ngIf="isloggedin == 'true'"
                                                                routerLink="/product/{{list._id}}">{{list.name}}</a>
                                                            <a *ngIf="isloggedin != 'true'"
                                                                routerLink="/productview/{{list._id}}">{{list.name}}</a>

                                                        </div>
                                                        <!-- <div class="cate-name" *ngFor="let type of list.type">
                                                            <a>{{(type | titlecase) | translate}}</a>
                                                             <h2>{{list.type | titlecase}}</h2> 
                                                        </div> -->
                                                        <div class="mb-2">
                                                            <nz-rate [ngModel]="list.rating" nzAllowHalf nzDisabled>
                                                            </nz-rate>
                                                        </div>
                                                        <div class="wrap-ns-price">
                                                            <div class="price-box">
                                                                <p class="special-price">
                                                                    <span
                                                                        class="price">{{list.available_price[0] |number:'1.1-2'}}€</span>
                                                                </p>
                                                                <p class="old-price">
                                                                    <span
                                                                        class="price">{{list.price[0]|number:'1.1-2'}}€</span>
                                                                </p>
                                                            </div>
                                                            <div class="wrap-new-sale">
                                                                <div class="sale-item">{{list.offer_percentage}}%
                                                                </div>
                                                                <div class="new-item">{{"New"|translate}}</div>
                                                            </div>
                                                        </div>
                                                        <button class="btn-cart"
                                                            (click)="addPremiumCart(list,i)"><span>{{"AddtoCart"|translate}}</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>