<div class="login-page">
	<div class="container">
		<div class="logo">
			<a routerLink="/landing"><img src="./../../assets/style/css/images/banner-background/logo.png" alt="" /></a>
		</div>
		<div class="box">
				<div class="w-100 text-center verify-text">
					<img src="./../../assets/images/paypal.png" alt="" class="img-pay"/>
					<div class="icon">
						<i class="font51" nz-icon nzType="check-circle" nzTheme="outline"></i><br>
						<span class="text-font">{{"TransactionSuccess"|translate}}</span>
					</div>
			<!-- <span class="font-bold">Redirects to Home page in {{seconds}}s</span>	 -->
			<a routerLink="'/landing'">{{"BackToHome"|translate}}</a>
			</div>
			
		</div>
	</div>
</div>
