<div class="login-page">
	<div class="container">
		<div class="logo">
			<a routerLink="/landing"><img src="./../../assets/style/css/images/banner-background/logo.png" alt="" /></a>
		</div>
		<div class="box">
				<div class="w-100 text-center verify-text">
					<img src="./../../assets/images/paypal.png" alt="" class="img-pay"/>
					<div class="icon">
						<i class="font51" nz-icon nzType="close-circle" nzTheme="outline"></i><br>
						<span class="text-font">{{"PayErrorText1"|translate}}</span><br>
						<span>{{"Please return to the merchant and choose another way to pay"|translate}}</span>
					</div>
					<a routerLink="'/landing'">{{"BackToHome"|translate}}</a>
				</div>
			
		</div>
	</div>
</div>

