<main>
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h4 class="mb-0">{{"AddUser" | translate}}</h4>
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a [routerLink]="['/user']">{{"User" | translate}}</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                {{"AddUser" | translate}}
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <nz-card [nzBordered]="false">
        <div nz-row>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
               
                <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="nameErrorTpl">
                            <nz-form-label nzFor="password">{{"Uname" | translate}}</nz-form-label>
                            <input nzSize="large" type="text" nz-input formControlName="username"
                                placeholder="John Doe" [(ngModel)]= "userName"/>
                                <ng-template #nameErrorTpl let-control>
                                    <ng-container *ngIf="
                                            control.hasError('minlength') ||
                                            control.hasError('maxlength')
                                        ">
                                        {{"Ucon" | translate}}
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('required')">
                                        {{"Uerr" | translate}}
                                    </ng-container>
                                </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="emailErrorTpl">
                            <nz-form-label nzFor="password">{{"Umail" | translate}}</nz-form-label>
                            <input nzSize="large" type="text" nz-input formControlName="email"
                                placeholder="johndoe@gmail.com" [(ngModel)]= "userEmail" />
                                <ng-template #emailErrorTpl let-control>
                                    <ng-container *ngIf="control.hasError('email')">
                                        {{"Ucon1" | translate}}
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('required')">
                                        {{"Ucon2" | translate}}
                                    </ng-container>
                                </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="mobileErrorTpl">
                            <nz-form-label nzFor="mobileNumber">{{"Mob" | translate}}</nz-form-label>
                            <input nzSize="large" type="number" nz-input formControlName="mobile"
                                placeholder="8922333545" [(ngModel)]= "userMobile"/>
                                <ng-template #mobileErrorTpl let-control>
                                    <ng-container *ngIf="control.hasError('pattern')">
                                        {{"Mobcon1" | translate}}
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('required')">
                                       {{"Mobcon2" | translate}}
                                    </ng-container>
                                </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                         <nz-form-control [nzErrorTip]="GenderErr">
                            <nz-form-label nzFor="gender">{{"Gender" | translate}}</nz-form-label>
                            <nz-select [(ngModel)]="gender"  formControlName="gender"
                                nzPlaceHolder="Choose">
                                <nz-option nzValue="MALE" nzLabel="{{'Male' | translate}}"></nz-option>
                                <nz-option nzValue="FEMALE" nzLabel="{{'Female' | translate}}"></nz-option>
                                <nz-option nzValue="BOTH" nzLabel="{{'Both' | translate}}"></nz-option>
                             </nz-select>
                        </nz-form-control>
                        <ng-template #GenderErr let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                {{"EnterGender" | translate}}
                            </ng-container>
                        </ng-template>
                    </nz-form-item>
                    <nz-form-item *ngIf="!isEdit">
                        <nz-form-control [nzErrorTip]="combineTpl" >
                            <nz-form-label nzFor="password">{{"Password" | translate}}</nz-form-label>
                            <input nzSize="large" type="password" nz-input formControlName="password"
                                placeholder="******" />
                                <ng-template #combineTpl let-control>
                                    <ng-container *ngIf="control.hasError('pattern')">
                                        {{"RPcondition" | translate}}</ng-container
                                    >
                                    <ng-container *ngIf="control.hasError('required')"
                                        > {{"Enterpassword" | translate}}
                                    </ng-container>
                                </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item *ngIf="!isEdit">
                        <nz-form-control nzErrorTip="{{'Enterpassword' | translate}}">
                            <nz-form-label nzFor="confirmpassword">{{"Confirmpassword" | translate}}
                            </nz-form-label>
                            <input nzSize="large" type="password" nz-input formControlName="confirmpassword"
                                placeholder="******" />
                        </nz-form-control>
                    </nz-form-item>
                    <div class="mt-4 pt-1">
                        <button nz-button [nzType]="'primary'" [disabled]="validateForm.invalid" [nzLoading]="editLoading"><span *ngIf="!isEdit">{{"Create" | translate}}</span><span
                                *ngIf="isEdit">{{"Update" | translate}}</span> {{"User" | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </nz-card>
</main>