<div class="login-page">
    <div class="container">
        <div class="logo">
            <a href="index.html"><img src="./../../assets/style/css/images/banner-background/logo.png" alt="" /></a>
        </div>
        <div class="box">
            <img src="assets/style/css/images/banner-background/background.jpeg" alt="Picture by Autumn Studio"
                class="box__image">
            <form nz-form [formGroup]="validateForm" class="form form--login auth-form" (ngSubmit)="submitForm()">
                <h1 class="text-center mb-3">{{"ForgetPass"|translate}}</h1>
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="emailErrorTpl">
                        <nz-form-label nzFor="email">{{"EmailId"|translate}}</nz-form-label>
                        <input type="email" name="email" id="email" nz-input formControlName="email" />
                        <ng-template #emailErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('email')">
                               {{"EmailValid"|translate}}
                            </ng-container>
                            <ng-container *ngIf="control.hasError('required')">
                                {{"EnterEmail"|translate}}
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button class="login-form-button login-form-margin" nzSize="large" [nzType]="'primary'"
                    nzBlock >{{"Submit"|translate}}</button>
                <div class="mt-2"><a routerLink="/auth/login">{{"BacktoLogin"|translate}}</a>
                </div>
            </form>
        </div>
    </div>
</div>