<div class="landing-wrapper">
    <app-landing-header></app-landing-header>
</div>
<div class="main-container main-wrapper">
    <div class="container">
        <div class="title-box-default">
            <a href="#" class="prev-new-arrival"><i class="fa fa-arrow-circle-left"></i></a>
            <span class="title-tab">POLÍTICA PRIVACIDAD DE COOKIES</span>
            <a href="#" class="next-new-arrival"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <div class="privacy-section mb-20">
            <h4>¿Qué son las cookies?</h4>
            <p>Una <i>cookie</i>es un pequeño fichero de texto que se almacena en su navegador cuando visita
                casi cualquier
                página web. Su utilidad es que la web sea capaz de recordar su visita cuando vuelva a navegar por esa
                página. Las <i>cookies</i> suelen almacenar información de carácter técnico, preferencias personales,
                personalización de contenidos, estadísticas de uso, enlaces a redes sociales, acceso a cuentas de
                usuario, etc. El objetivo de la <i>cookie</i> es adaptar el contenido de la web a su perfil y
                necesidades, sin <i>cookies</i> los servicios ofrecidos por cualquier página se verían mermados
                notablemente.
            </p>
            <h4>Cookies utilizadas en este sitio web</h4>
            <p>Siguiendo las directrices de la Agencia Española de Protección de Datos procedemos a detallar el uso
                de <i>cookies</i> que hace esta web con el fin de informarle con la máxima exactitud posible.
            </p>
            <p>Este sitio web utiliza las siguientes <strong>cookies propias:</strong></p>
            <ul>
                <li>Cookies de sesión, para garantizar que los usuarios que escriban comentarios en el blog sean humanos
                    y no aplicaciones automatizadas. De esta forma se combate el spam.
                </li>
            </ul>
            <p>Este sitio web utiliza las siguientes cookies de terceros:
            </p>
            <ul>
                <li>Google Analytics: Almacena cookies para poder elaborar estadísticas sobre el tráfico y volumen de
                    visitas de esta web. Al utilizar este sitio web está consintiendo el tratamiento de información
                    acerca de usted por Google. Por tanto, el ejercicio de cualquier derecho en este sentido deberá
                    hacerlo comunicando directamente con Google.
                </li>
            </ul>
            <h4>Desactivación o eliminación de cookies</h4>
            <p>Todos los navegadores permiten cambiar la configuración de Cookies. Estos ajustes normalmente se
                encuentran en las 'opciones' o 'Preferencias' del menú de su navegador.
            </p>
            <p>Puedes configurar las Cookies en tu navegador pinchando en los siguientes links:</p>
            <ul>
                <li>Chrome</li>
                <li>Chrome para Android</li>
                <li>Firefox</li>
                <li>Explorer</li>
                <li>Safari</li>
                <li>Safari para iOS</li>
            </ul>
            <p>Qué ocurre si se deshabilitan las Cookies:</p>
            <p>Algunas funcionalidades de los servicios quedarán deshabilitados como, por ejemplo, permanecer
                identificado o mantener las compras en el carrito de la compra.
            </p>
            <h4>1. NORMATIVA APLICABLE</h4>
            <p>El apartado segundo del artículo 22 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la
                Información y de Comercio Electrónico (en adelante, LSSI-CE), establece lo siguiente:
            </p>
            <p>Los prestadores de servicios podrán utilizar dispositivos de almacenamiento y recuperación de datos en
                equipos terminales de los destinatarios, a condición de que los mismos hayan dado su consentimiento
                después de que se les haya facilitado información clara y completa sobre su utilización, en particular,
                sobre los fines del tratamiento de los datos, con arreglo a lo dispuesto en la Ley Orgánica 15/1999, de
                13 de diciembre, de Protección de Datos de Carácter Personal.</p>
            <p> Cuando sea técnicamente posible y eficaz, el consentimiento del destinatario para aceptar el tratamiento
                de los datos podrá facilitarse mediante el uso de los parámetros adecuados del navegador o de otras
                aplicaciones, siempre que aquél deba proceder a su configuración durante su instalación o actualización
                mediante una acción expresa a tal efecto.
                Lo anterior no impedirá el posible almacenamiento o acceso de índole técnica al solo fin de efectuar la
                transmisión de una comunicación por una red de comunicaciones electrónicas o, en la medida que resulte
                estrictamente necesario, para la prestación de un servicio de la sociedad de la información expresamente
                solicitado por el destinatario.</p>
            <p>Según recoge la “Guía sobre el uso de las cookies”, publicada por la Agencia Española de Protección de
                Datos (en adelante, AEPD) en el año 2013, la LSSI-CE es aplicable a cualquier tipo de archivo o
                dispositivo que se descarga en el equipo terminal de un usuario con la finalidad de almacenar datos que
                podrán ser actualizados y recuperados por la entidad responsable de su instalación. La cookie es uno de
                esos dispositivos de uso generalizado por lo que, en adelante, denominaremos genéricamente estos
                dispositivos como cookies.
            </p>
            <p>Quedan exceptuadas del cumplimiento de las obligaciones establecidas en el artículo 22.2 de la LSSI-CE
                las cookies utilizadas para alguna de las siguientes finalidades:
            </p>
            <p>- Permitir únicamente la comunicación entre el equipo del usuario y la red.
            </p>
            <p>- Estrictamente prestar un servicio expresamente solicitado por el usuario.
            </p>
            <h4>2. TIPOS DE COOKIES SEGÚN SU FINALIDAD</h4>
            <p>Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las
                cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los
                hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de
                la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.
            </p>
            <p>Tal como recoge la “Guía sobre el uso de las cookies” de la AEPD, según la finalidad para la que se
                traten los datos obtenidos a través de las cookies, podemos distinguir entre:
            </p>
            <p>- Cookies técnicas: Son aquéllas que permiten al usuario la navegación a través de una página web,
                plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan
                como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a
                partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de
                compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar
                elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o
                compartir contenidos a través de redes sociales.
                - Cookies técnicas: Son aquéllas que permiten al usuario la navegación a través de una página web,
                plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan
                como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a
                partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de
                compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar
                elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o
                compartir contenidos a través de redes sociales.
            </p>
            <p>- Cookies de personalización: Son aquéllas que permiten al usuario acceder al servicio con algunas
                características de carácter general predefinidas en función de una serie de criterios en el terminal del
                usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la
                configuración regional desde donde accede al servicio, etc.
            </p>
            <p>- Cookies de análisis: Son aquéllas que permiten al responsable de las mismas, el seguimiento y análisis
                del comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida
                mediante este tipo de cookies se utiliza en la medición de la actividad de los sitios web, aplicación o
                plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios,
                aplicaciones y plataformas, con el fin de introducir mejoras en función del análisis de los datos de uso
                que hacen los usuarios del servicio.
            </p>
            <p>- Cookies publicitarias: Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los
                espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o
                plataforma desde la que presta el servicio solicitado en base a criterios como el contenido editado o la
                frecuencia en la que se muestran los anuncios.
            </p>
            <p>- Cookies de publicidad comportamental: Son aquéllas que permiten la gestión, de la forma más eficaz
                posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web,
                aplicación o plataforma desde la que presta el servicio solicitado. Estas cookies almacenan información
                del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de
                navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del
                mismo.
            </p>
            <h4>Cookies propias:</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="bb-0">Tipo de Cookie</th>
                        <th class="bb-0">Propietario</th>
                        <th class="bb-0">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Sesión</th>
                        <td>Goldenrosse </td>
                        <td>Necesaria para funcionalidades básicas de nuestra tienda como mantener los productos que has
                            añadido al carrito o saber si te has autentificado como cliente.</td>
                    </tr>
                </tbody>
            </table>
            <h4>Cookies de terceros:</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="bb-0">Tipo de Cookie</th>
                        <th class="bb-0">Propietario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Analítica Web</th>
                        <td>google</td>
                    </tr>
                    <tr>
                        <th>Google Adwords</th>
                        <td>google</td>
                    </tr>
                    <tr>
                        <th>DoubleClick</th>
                        <td>google</td>
                    </tr>
                    <tr>
                        <th>Sociales</th>
                        <td>shareaholic</td>
                    </tr>
                    <tr>
                        <th>Facebook</th>
                        <td>facebook</td>
                    </tr>
                    <tr>
                        <th>Youtube</th>
                        <td>youtube</td>
                    </tr>
                    <tr>
                        <th>geoPlugin</th>
                        <td>geoPlugin</td>
                    </tr>
                </tbody>
            </table>
            <h4>3. PRINCIPIO DE INFORMACIÓN</h4>
            <p>En cumplimiento de lo establecido en el artículo 5 de la Ley Orgánica 15/1999, de 13 de diciembre, de
                Protección de Datos de Carácter Personal (en adelante, LOPD), le informamos de modo expreso, preciso e
                inequívoco que la información que se obtenga a través de las cookies que se instalen en su ordenador
                será utilizada con las siguientes finalidades:
                Analizar sus hábitos de navegación en nuestra página web, con la finalidad de garantizar la calidad,
                seguridad y mejora de los servicios ofrecidos a través de la misma.
            </p>
            <p>Los destinatarios de la información que se obtenga a través de las cookies que se instalen en su
                ordenador serán las siguientes entidades:
            </p>
            <p>- El editor responsable de la web y responsable del tratamiento: Raul Garcia De La Rosa
            </p>
            <h4>4. PRINCIPIO DEL CONSENTIMIENTO</h4>
            <p>El consentimiento para la instalación de las cookies se entenderá prestado a través de la marcación de la
                casilla relativa a la aceptación de la “Política de cookies” dispuesta al efecto en nuestra página web.
            </p>
            <p>En los casos en que el usuario no manifieste expresamente si acepta o no la instalación de las cookies,
                pero continúe utilizando la página web o la aplicación se entenderá que éste ha dado su consentimiento,
                informándole expresamente nuestra entidad de la posibilidad de bloquear o eliminar las cookies
                instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su
                ordenador.
            </p>
            <h4>5. CARÁCTER FACULTATIVO DE LA INSTALACIÓN DE COOKIES</h4>
            <p>Si bien la aceptación de la instalación de las cookies en su ordenador es facultativa para usted, la
                negativa a su instalación puede suponer que la funcionalidad de la página web quede limitada o no sea
                posible, lo cual imposibilitaría la prestación de servicios por parte de nuestra entidad a través de la
                misma.
            </p>
            <h4>6. PRINCIPIO DE SEGURIDAD DE LOS DATOS</h4>
            <p>Raul Garcia De La Rosa se compromete al cumplimiento de su obligación de secreto respecto de los datos de
                carácter personal y de su deber de guardarlos y adoptará todas las medidas de índole técnica y
                organizativa necesarias que garanticen la seguridad de los datos de carácter personal y eviten su
                alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la
                naturaleza de los datos almacenados y los riesgos a que estén expuestos, ya provengan de la acción
                humana o del medio físico o natural, desarrolladas en el Título VIII del Real Decreto 1720/2007, de 21
                de diciembre, por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999, de 13 de
                diciembre, de Protección de Datos de Carácter Personal.
            </p>
            <h4>7. EJERCICIO DE DERECHOS</h4>
            <p>En cumplimiento de lo establecido en la LOPD y el Real Decreto 1720/2007, de 21 de diciembre, por el que
                se aprueba el Reglamento de desarrollo de la misma, el destinatario del servicio puede ejercitar, en
                cualquier momento, sus derechos de acceso, rectificación, cancelación y oposición ante el responsable
                del fichero o del tratamiento, adjuntando fotocopia de su DNI.
            </p>
            <h4>8. RESPONSABLE DEL FICHERO O DEL TRATAMIENTO</h4>
            <p>El responsable del fichero o del tratamiento es Raul Garcia De La Rosa, con dirección a efectos de
                notificaciones en Calle Asturias nº 44 villaviciosa de odon 28670 madrid.
            </p>
            <p><b>Notas adicionales</b></p>
            <ul>
                <li>Ni esta web ni sus representantes legales se hacen responsables ni del contenido ni de la veracidad
                    de las políticas de privacidad que puedan tener los terceros mencionados en esta política
                    de<i>cookies</i>.
                </li>
                <li>
                    Los navegadores web son las herramientas encargadas de almacenar las <i>cookies</i> y desde este
                    lugar debe efectuar su derecho a eliminación o desactivación de las mismas. Ni esta web ni sus
                    representantes legales pueden garantizar la correcta o incorrecta manipulación de las
                    <i>cookies</i> por parte de los mencionados navegadores.
                </li>
                <li>En algunos casos es necesario instalar <i>cookies</i> para que el navegador no olvide su decisión de
                    no aceptación de las mismas.
                </li>
                <li>En el caso de las <i>cookies</i> de Google Analytics, esta empresa almacena las <i>cookies</i> en
                    servidores ubicados en Estados Unidos y se compromete a no compartirla con terceros, excepto en los
                    casos en los que sea necesario para el funcionamiento del sistema o cuando la ley obligue a tal
                    efecto. Según Google no guarda su dirección IP. Google Inc. es una compañía adherida al Acuerdo de
                    Puerto Seguro que garantiza que todos los datos transferidos serán tratados con un nivel de
                    protección acorde a la normativa europea. Puede consultar información detallada a este respecto en
                    este enlace. Si desea información sobre el uso que Google da a las <i>cookies</i> le adjuntamos este
                    otro enlace.
                </li>
                <li>Para cualquier duda o consulta acerca de esta política de cookies no dude en comunicarse con
                    nosotros a través de la sección de contacto.
                </li>
            </ul>
        </div>
    </div>
</div>
<app-landing-footer></app-landing-footer>