<div class="landing-wrapper">
    <app-landing-header></app-landing-header>
</div>
<div class="main-container main-wrapper">
    <div class="container">
        <div class="title-box-default">
            <a href="#" class="prev-new-arrival"><i class="fa fa-arrow-circle-left"></i></a>
            <span class="title-tab">GASTOS DE ENVÍO GRATUITOS CON NACEX</span>
            <a href="#" class="next-new-arrival"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <div class="privacy-section mb-20">
            <h4>Al comprar en <a href="www.goldenrosse.com">www.goldenrosse.com</a>, cualquier pedido superior a 70 €
                tendrá gastos de envío gratuitos, solo en Península.
            </h4>
            <p>Todos nuestras entregas están aseguradas frente a pérdida o robo de la mercancía portada.
            </p>
            <p>En cuanto al tema de recepción, NACEX (compañía de transporte urgente de paquetería y documentación) se
                encarga de cumplir un plazo de entrega de 24-48 horas días laborables en Península. Si se tratase de un
                artículo no disponible en nuestro stock, el plazo será de 24-48 horas tras la recepción en oficina. 
            </p>
            <p>Para envíos a la Unión Europea a países como Francia los gastos de envío tienen un coste de 15€ y para
                Alemania, Bélgica, Holanda, Italia, Luxemburgo y Reino unido el coste es de 20€. Por el momento, no
                realizamos envíos a zonas no pertenecientes a la Unión Europea, así como tampoco realizamos envíos a
                Canarias, Ceuta y Melilla, pero estamos trabajando para poder realizarlos lo antes posible. Al tratarse
                de repartos fuera de los límites nacionales, éstos pedidos no se entregarán en un plazo de 24-48 horas,
                se realizará la entrega en 5 días labobles tras su envío desde nuestra central.
            </p>
            <p>Si el pedido se tratase de alianzas, al ser una joya que requiere fabricación a medida, el periodo de
                recepción será entre 7 y 21 días dependiendo del tipo de alianza. Puede consultarnos acerca de la
                llegada de su joya llamando al teléfono 650859562.
            </p>
            <p>Además, si usted no se encuentra en su domicilio en el momento de la entrega, puede concertar una segunda
                entrega con la agencia.
            </p>
            <p>Para compras inferiores a 70€, los costes de envío son 5€.
            </p>
            <p>Los envíos a las Islas Baleares tiene un coste de 10 € y tienen un periodo de entrega de 48-72
                horas. Envío gratuito para pedidos superiores a 100 €. 
            </p>
            <p>Los envíos a Canarias, Ceuta y Melilla tienen un coste de 39 € para pedidos menores de 150 € y de 57 €
                para pedidos superiores a 150 €. Los pedidos a esta zona no están sujetos a las condiciones de envío
                gratuito.  
            </p>
            <p>Para pedidos fuera una vez registrados le aparecerán los gastos de envío dependiendo del país en el que
                esté, si necesita más información no dude en llamarnos.
            </p>
            <p>
                <strong>Es fundamental que los datos del domicilio sean los correctos,</strong> puesto que Goldenrosse
                reproducirá exactamente el escrito, sin modificar letras, mayúsculas, signos de puntuación, etc.
            </p>
            <p>
                <strong>
                    En caso de que los datos de envío sean incorrectos, el coste de una nueva reexpedición del envío
                    correra a cargo del cliente.
                </strong>
            </p>
        </div>
    </div>
</div>
<app-landing-footer></app-landing-footer>