<div class="skeleton-post-block">
    <div class="skeleton-post-header-block">
        <div class="skeleton-post-header">
            <div class="skeleton-post-avatar"></div>
            <div class="skeleton-post-title">
                <div class="skeleton-title-one"></div>
                <div class="skeleton-title-two"></div>
            </div>
        </div>
        <div class="skeleton-title-message"></div>
    </div>
    <div class="skeleton-post-body"></div>
    <div class="skeleton-post-footer">
        <div class="d-flex align-items-center">
            <div class="post-action-item mr-4"></div>
            <div class="post-action-item"></div>
        </div>
        <div class="post-action-item"></div>
    </div>
</div>
